{% extends 'core/base.html' %}

{% load static %}
{% block stylesheet %}{% static 'styles/communication/chat_platform.css' %}{% endblock %}

{% block title %}{% if request.user.is_authenticated %} {{ request.user.user_name }} | {% endif %}Chat{% endblock %}

{% block content %}
<section id="main-container">
  <div class="main-box">
      <div class="main-head">
      </div>
      <div class="box">
          <div class="inside-box">
              <div class="body-row">
                  <div class="firstbox">
                      <!-- suggests that if the user a loggedin user is trying to see is a
                      a UserBase/Vendor instance then the loggedin user opposite username/storename
                      should be shown -->
                      <div class="block1"><span>{% if user_id.1 == request.user.unique_id %}{{ request.user.user_name }}{% elif user_id.1 == request.user.which_vendor.unique_id  %}{{ request.user.which_vendor.store_name }} {% endif %}</span>
                          <span><i class="fa fa-pencil"></i></span></div>
                      {% if user_id.1 == request.user.unique_id %}
                      <div class="block2">
                          <div class="inside">
                            <div class="inner">
                                {% for img in user_id.0.vendor_image.all %}
                                {% if img.is_main %}
                                <img src="{{ img.image_value.images.url }}" alt="profile-image">
                                {% endif %}
                                {% endfor%}
                                <span class="active"></span>
                            </div>
                            <div class="chat-lines">
                                <div>{{user_id.0.store_name}}</div>
                            </div>
                          </div>
                      </div>
                      {% elif user_id.1 == request.user.which_vendor.unique_id %}
                      <div class="block2">
                          <div class="inside">
                            <div class="inner">
                                <img src="{{ user_id.0.user_image.url }}" alt="profile-image">
                                <span class="active"></span>
                            </div>
                            <div class="chat-lines">
                                <div>{{user_id.0.user_name}}</div>
                            </div>
                          </div>
                      </div>
                      {% endif %}
                  </div>
                  <div class="secondbox">
                      <div class="block1">
                        {% if msg_sender_data %}
                        {% for sender in msg_sender_data %}
                        <a class="inside" data-index="{{sender.0}}" {% if sender.6 == 'a_vendor' %} href="{% url 'message_:chat_platform2' sender.0 request.user.which_vendor.unique_id %}" {% else %} href="{% url 'message_:chat_platform2' sender.0 request.user.unique_id %}" {% endif %}>
                            <div class="inner">
                                {% if sender.6 == 'a_vendor' %}
                                <img src="{{ sender.2.url }}" alt="profile-image">
                                {% elif sender.6 == 'a_user' %}
                                {% for sender in sender.2 %}
                                {% if sender.is_main %}
                                <img src="{{ sender.image_value.images.url }}" alt="profile-image">
                                {% endif %}
                                {% endfor %}
                                {% endif %}
                                <span class="active"></span>
                            </div>
                            <div class="chat-lines">
                                <div>{{sender.1}}</div>
                                <input type="hidden" value="{{sender.3}}">
                                <span class="all msg">{{sender.3 | truncatechars:25}}</span>
                                <span class="all msg1">{{sender.3 | truncatechars:20}}</span>
                                <span class="all msg2">{{sender.3 | truncatechars:15}}</span>
                                <span class="all msg3">{{sender.3 | truncatechars:10}}</span>
                            </div>
                            <span class="time">.{{sender.4}}</span>
                            {% if sender.5 != 0 %}<span class="msg_amt"> {{sender.5}}</span> {% endif %}
                        </a>
                        {% endfor %}
                        {% else %}
                          <p class="no-msg">no message</p>
                        {% endif %}
                      </div>
                      <div class="block2">
                          <div class="inside inside-b">
                              {% for msg in our_chat %}
                                  <input class="input1" type="hidden" value="{{msg.sender_id_unique}}">
                                  <!--user_id.1 contains the unique_id of the logged in user  so this
                                   checked if d current user is the same as unique_id of loggedin user-->
                                    {% if msg.sender_id_unique != user_id.1 %}
                                    <div class="float-left">
                                        <span class="chat">{{msg.content}}</span>
                                    </div>
                                    {% else %}
                                    <div class="float-right">
                                        <span class="chat">{{msg.content}}</span>
                                    </div>
                                    {% endif %}
                              {% endfor %}
                          </div>
                          <div class="msg_place">
                              <!--
                              <form method="post" action="{% if user_id.0.unique_id == request.user.which_vendor.unique_id %}{% url 'core_:send_msg' user_id.0.unique_id request.user.unique_id %}
                              {% elif user_id.0.unique_id == request.user.unique_id %}{% url 'core_:send_msg' user_id.0.unique_id request.user.which_vendor.unique_id %} {% endif %}"> -->

                              <form method="post" action="{% url 'core_:send_msg' user_id.0.unique_id user_id.1%}">
                                    {% csrf_token %}
                                  <textarea rows="5" wrap="hard soft" autofocus="autofocus" placeholder="Write a message" name="sent_message"></textarea>
                                  <button type="submit"><i class="fa fa-caret-right"></i></button>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
{% endblock %}

{% block scripts %}

/*window.onload = function() {
    document.getElementById("ta").onkeyup = function() {
      FitToContent( this, 500 )
    };
}*/
    <script>
    $(document).ready(function(){
        /*$("textarea").each(function () {
          this.setAttribute("style", "height:" + (this.scrollHeight) + "px;overflow-y:hidden;");
        }).on("input", function () {
          this.style.height = "auto";
          this.style.height = (this.scrollHeight) + "px";
        });*/

        /*const tx = document.getElementsByTagName("textarea");
        for (let i = 0; i < tx.length; i++) {
          tx[i].setAttribute("style", "height:" + (tx[i].scrollHeight) + "px;overflow-y:hidden;");
          tx[i].addEventListener("input", OnInput, false);
        }
        function OnInput() {
          this.style.height = "auto";
          this.style.height = (this.scrollHeight) + "px";
        }*/

        $('form').on( 'keyup', 'textarea', function (){
            $(this).height( 0 );
            $(this).height( this.scrollHeight );
        });
        $('form').find( 'textarea' ).keyup();


        $('.msg').css('display','block')
        var unique_id = $('.secondbox > .block2 > .inside > .input1').val()
        $('.secondbox > .block1 > .inside[data-index="'+ unique_id +'"]').css('background-color','var(--lightgrey)');

        $('textarea').focus(function() {
            $(this).css("border", "1px solid var(--lightblue)") }
        )

        function windowz(){
            if (window.matchMedia("(max-width:1050px)").matches){
                var variable = $('.chat-lines > input').val()
                if (variable.length > 20) {
                    $('.all').css('display','none')
                    $('.msg1').css('display','block')
                }
            };
            if (window.matchMedia("(max-width:900px)").matches){
                var variable = $('.chat-lines > input').val()
                if (variable.length > 15) {
                    $('.all').css('display','none')
                    $('.msg2').css('display','block')
                }
            };
            if (window.matchMedia("(max-width:768px)").matches){
                var variable = $('.chat-lines > input').val()
                if (variable.length > 10) {
                    $('.all').css('display','none')
                    $('.msg3').css('display','block')
                }
            };
            if (window.matchMedia("(max-width:768px)").matches){
                var variable = $('.chat-lines > input').val()
                if (variable.length > 10) {
                    $('.all').css('display','none')
                    $('.msg2').css('display','block')
                }
            };
        }
        var y = window.matchMedia("(max-width:768px)")
        windowz()
        y.addListener(windowz)

        $('.secondbox > .block1 > .inside').on(
            {mousedown: function(){
                $('.secondbox > .block1').children().css('background-color','var(--normalwhite)')
                $(this).css('background-color','var(--lightgrey)')
                $('.msg_amt').css('border','3px solid var(--normalwhite)')
            }}
        )
        $('.chatz').on(
            {click: function(e){
                e.preventDefault();
                $.ajax({
                    type:"POST",
                    data: {
                        ID: $(this).data('index'),
                        csrfmiddlewaretoken: "{{ csrf_token }}",
                        action: 'get_msg'
                    },
                    success: function(json){
                    },
                    error: function(xhr, errmsg, err){
                        console.log('completed with error');
                    }
                });

            }}
        )
    });
    </script>
{% endblock %}








