#head-notification{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    padding:0 20px;
    font-weight:bold;
    display:none
}
.pop-up{
    display:none;
}
#pop-notification{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    bottom: 100%;
    right: 20px;
    background-color:green;
    animation-name: show-toast;
    animation-duration: 4s;
	animation-timing-function: (linear);
	animation-direction: (reverse);
	display:none;
}
/*.head-notification-absolute{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: auto;
    bottom: 100%;
    right: 0;
    z-index:3;
    animation-name: show-toast;
    animation-duration: 4s;
	animation-timing-function: (linear);
	animation-direction: (reverse);
}*/
.head-notification-absolute{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    bottom: 100%;
    right: 0;
    z-index:3;
    animation-name: show-toast;
    animation-duration: 7s;
	animation-timing-function: (linear);
	animation-direction: (reverse);
}
#notification-message{
    padding:20px 60px;
    font-weight:bold;
}
.notification-bg{
    background-color:brown;
}
.notification-success{
    background-color:var(--bg_alert_and_notifications2);
}
.notification-warning{
    background-color:red;
}
#head-notification .fa-info,
.head-notification-absolute .fa-info{
    padding:5px 10px;
    border-radius:100px;
    background-color:var(--bg_alert_and_notifications2);
    margin-right:10px;
}
@keyframes show-toast{
    0% {bottom: -100%;}
    25% {bottom: 25%;}
    50% {bottom: 35%;}
    75% {bottom: -55%;}
    100% {bottom: -100%;}
}