
#main-container{
    background-color:var(--normalwhite);
    margin-bottom:50px;
    z-index:1;
}
#main-container .main-box{
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size:14px;
    color:rgba(0,0,0,0.9);
}
#main-container .main-box .main-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height:10vh;
    font-weight:bold;
    font-size:14px;
}
#main-container .main-box .main-head .left{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#main-container .main-box .main-head .myBtn span:first-child{
    margin-right:3px;
}
#main-container .main-box .main-head .myBtn span:nth-child(2){
    font-wight:bold;
    font-size:17px;
    color:#ACADA8;
}
#main-container .main-box .main-head .left a{
    display: flex;
    flex-wrap:no-wrap;
    justify-content: space-between;
    align-items: center;
    position:relative;
    color: rgba(0,0,0,0.8);
}
.fa-envelope{
    font-weight:500;
    font-size:20px;
    color:var(--lightblue);
    margin-left:5px;
}
#msg-no-top{
    background-color:var(--normalorange);
    border:2px solid var(--normalwhite);
    font-size:15px;
    border-radius:50px;
    width:18px;
    height:18px;
    text-align:center;
    position:absolute;
    top:-10px;
    right:-10px;
    color:var(--normalwhite);
}
#main-container .main-box .box{
    background-color:var(--normalwhite);

}
#main-container .main-box .box .inside-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
}
#main-container .main-box .box  .inside-box .body-row{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color:var(--normalwhite);
    width:100%;
}

#main-container .main-box .box .inside-box .body-row .main-block{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    width:70%;
    padding-right:5px;
    border-right:4px solid rgba(0,0,0,0.1);
    background-color:var(--lightgrey);
    border-radius:5px 0 0 5px;
}

/* ===================================================================== */


#main-container .box .inside-box .main-block .first-box1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-size: cover;
    border-radius:20px 20px 0 0;
    margin:20px 0 0 0;
    width:95%;
    position:relative;
    border:none;
}
#main-container .box .inside-box .main-block .first-box1 .follow-tag{
    position:absolute;
    padding:5px 30px;
    background-color:#93e9be;
    color:var(--normalwhite);
    bottom:-40px;
    right:6px;
    font-size:20px;
    border-radius:5px;
}
#main-container .box .inside-box .main-block .first-box1 .bg-image{
    border-radius:20px 20px 0 0;
    object-fit:cover;
    width:100%;
    height:300px;
    top:0;
    left:0;
    z-index:1;
    opacity:0.7;
    background: linear-gradient(to right, rgb(255, 0, 0), rgba(255, 0, 0, 0.4));
    position:relative;
}
#main-container .box .inside-box .main-block .first-box1 .camera{
    top:5px;
    right:5px;
    z-index:1;
    position:absolute;
}
#main-container .box .inside-box .main-block .first-box1 .camera{
    color:var(--lightgrey);
}
#main-container .box .inside-box .main-block .first-box1 .block1{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    border-radius:20px;
    width:100%;
    z-index:2;
    position:absolute;
    bottom:-150px;
}
#main-container .box .inside-box .main-block .first-box1 .block1 .innerblock1{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y:hidden;
    overflow-x:hidden;
    /*add the 2 below for inside effect */
    /*border-radius:100%;*/
    /*background-color:var(--lightgrey);*/
}
#main-container .box .inside-box .main-block .first-box1 .block1 .innerblock1 img{
    width:150px;
    height:150px;
    object-fit:cover;
    /*remove the 3 below for inside effect */
    border-radius:100px;
    margin:5px;
    border:5px solid var(--normalwhite);
    -webkit-transition: background, 800ms ease-in-out;
    -moz-transition: background, 800ms ease-in-out;
    -ms-transition: background, 800ms ease-in-out;
    -o-transition: background, 800ms ease-in-out;
}
#main-container .box .inside-box .main-block .first-box1 .block1 .innerblock1 img:hover{
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
}
#main-container .box .inside-box .main-block .first-box1 .block1 .username{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    font-size:15px;
    font-weight:550;
    color:var(--lightgrey);
}
#main-container .box .inside-box .main-block .first-box1 .block1 #button{
    width:50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:0;
}
#main-container .box .inside-box .main-block .first-box1 .block1 #button a:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:50px;
    height:50px;
    width:50px;
    box-shadow:1px 1px 1px 1px #BBBCB6;
    background-color:var(--lightgrey);
}
.fa-phone:hover,
.fa-mobile-phone:hover{
	-webkit-animation: shake 500ms linear 100ms 2 normal;
    -moz-animation: shake 500ms linear 100ms 2 normal;
    -ms-animation: shake 500ms linear 100ms 2 normal;
    -o-animation: shake 500ms linear 100ms 2 normal;
}
#main-container .box .inside-box .main-block .first-box1 .block1 #button a:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:50px;
    height:50px;
    width:50px;
    box-shadow:1px 1px 1px 1px #BBBCB6;
    background-color:var(--lightgrey);
}


/* ------------------------------------------------------------------ */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  left: 0;
  top: 20vh;
  z-index:3;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  overflow-y: none;
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  margin-top: 3%;
  padding: 20px;
  border: 1px solid #888;
  border-radius:30px;
  width: 30%; /* Could be more or less, depending on screen size */
  height: 60%;
  overflow-y: none;
}
.modal .modal-content .body p{
    display:flex;
    justify-content:center;
    align-items:center;
    height:200px;
    padding:20px;
    font-size:20px;
    color:#BBBCB6;
}
.modal .modal-content .line1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:auto;
    color: #aaa;
    font-size: 16px;
    font-weight: bold;
}
.modal .modal-content form{
    display: flex;
    flex-wrap:no-wrap;
    justify-content: center;
    align-items: flex-start;
    width:auto;
    position:relative;
}
.modal .modal-content form textarea{
    width:100%;
    height:100px;
    min-height:30px;
    max-height:50px;
    border-radius:10px;
    border:1px solid #BBBCB6;
    font-size:17px;
    letter-spacing:1px;
    resize:none;
    outline:none;
    padding:7.7px 36px 2.5px 15px;
    overflow-y:none;
    margin:0;
}
.modal .modal-content form button{
    display: flex;
    justify-content: center;
    align-items: center;
    height:35px;
    width:35px;
    border-radius:50px;
    border:none;
    color:var(--normalwhite);
    background-color:var(--lightblue);
    margin-left:2px;
    font-size:25px;
    position:absolute;
    top:5px;
    right:5px;
}
.modal .modal-content .body{
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
    width:auto;
    overflow-y:auto;
    height:auto;
}
.modal .modal-content .inside{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    margin:2.5px 0 10px 0;
}
.modal .modal-content .inside .inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:relative;
}
.modal .modal-content .inside .inner .active{
    width:15px;
    height:15px;
    background-color:green;
    position:absolute;
    bottom:5px;
    left:45px;
    border:3px solid var(--normalwhite);
    border-radius:100%;
}

.modal .modal-content .inside .inner img{
    object-fit:cover;
    height:50px;
    width:50px;
    border-radius:100%;
    margin-left:10px;
}
.modal .modal-content .inside .inner .name{
    margin:15px 0 0 15px;
    font-weight:bold;
    font-size:14px;
    color:#746D69;
}
.search-input{
    margin-top:15px;
    height:17px;
    width:17px;
}
/* The Close Button */
.close {
  color:#BBBCB6;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}








#main-container .box .inside-box .main-block .first-box{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-size: cover;
    border-radius:0 0 20px 20px;
    margin-bottom:80px;
    /*background-image: url("../images/site_images/others/use.PNG");*/
    /*background-size: cover;*/
    background-color:var(--normalwhite);
    width:95%;
    height:440px;
}
#main-container .box .inside-box .main-block .first-box .block1{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;
    padding:15px;
    border-radius:20px;
    color:var(--normalblack);
    font-size:16px;

}
#main-container .box .inside-box .main-block .first-box .block2{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;
    padding:15px;
    border-radius:20px;
    color:var(--normalblack);
    font-size:16px;

}
#main-container .box .inside-box .main-block .first-box .block1 span,
#main-container .box .inside-box .main-block .first-box .block2 span{
    margin-bottom:10px;
    width: 200px;
}

/*
#main-container .box .inside-box .main-block .first-box .block1 .innerblock1{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y:hidden;
    overflow-x:hidden;
}
#main-container .box .inside-box .main-block .first-box .block1 .innerblock1 img{
    width:180px;
    height:180px;
    object-fit:cover;
    border-radius:100px;
    margin:5px;
    border:5px solid var(--normalwhite);
    -webkit-transition: background, 800ms ease-in-out;
    -moz-transition: background, 800ms ease-in-out;
    -ms-transition: background, 800ms ease-in-out;
    -o-transition: background, 800ms ease-in-out;
}
#main-container .box .inside-box .main-block .first-box .block1 .innerblock1 img:hover{
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
}
#main-container .box .inside-box .main-block .first-box .block1 .username{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    margin-top:22px;
    font-size:20px;
    font-size:25px;
    color:var(--lightgrey);
}
#main-container .box .inside-box .main-block .first-box .block2{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding:15px 15px 0 45px;
    flex-grow:1;
    border-radius:20px;
    width:75%;
    height:100%;
}
#main-container .box .inside-box .main-block .first-box .block2 .innerblock{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: space-between;
    width:100%;
    height:100%;
}
#main-container .box .inside-box .main-block .first-box .block2 .innerblock .name{
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:50px;
    color:var(--lightgrey);
    letter-spacing:5px;
}
#main-container .box .inside-box .main-block .first-box .block2 .innerblock #button{
    width:100%;
    margin-top:60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#main-container .box .inside-box .main-block .first-box .block2 .innerblock #button button:nth-child(1){
    border-radius:30px;
    height:50px;
    width:170px;
    border:1px solid var(--darkblue);
    background-color:var(--darkblue);
}
.fa-phone:hover,
.fa-mobile-phone:hover{
	-webkit-animation: shake 500ms linear 100ms 2 normal;
    -moz-animation: shake 500ms linear 100ms 2 normal;
    -ms-animation: shake 500ms linear 100ms 2 normal;
    -o-animation: shake 500ms linear 100ms 2 normal;
}
#main-container .box .inside-box .main-block .first-box .block2 .innerblock #button button:nth-child(2){
    background-image: url("../images/site_images/others/use.PNG");
    background-size: cover;
    border-radius:30px;
    height:50px;
    width:170px;
    border:1px solid var(--darkgrey);
}
*/


#main-container .box .inside-box .main-block .second-box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom:60px;
    width:100%;
    border-radius:5px;
}
#main-container .box .inside-box .main-block .second-box .inside{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin:20px;
    width:100%;
}
#main-container .box .inside-box .main-block .second-box span{
    font-size: 20px;
    font-weight:550;
    margin-bottom:10px;
    width:100%;
}
#main-container .box .inside-box .main-block .second-box .inner-box{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    width:100%;
    overflow-x:scroll;
    background-color:var(--normalwhite);
    border-radius:5px;
    padding:9px 5px 5px 5px;
}
#main-container .box .inside-box .main-block .second-box img{
    height:150px;
    width:100%;
    object-fit:cover;
    border-radius:5px;
}
#main-container .box .inside-box .main-block .second-box .inner-box  a{
    position:relative;
    width:99%;
}
#main-container .box .inside-box .main-block .second-box .inner-box a .name{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position:absolute;
    margin-bottom:15px;
    width:100%;
    height:150px;
    color:var(--normalwhite);
    top:0;
    right:0;
}
#main-container .box .inside-box .main-block .second-box .inner-box a #msg-no-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--normalorange);
    color:var(--normalwhite);
    border:2px solid var(--normalwhite);
    font-size:15px;
    border-radius:50px;
    width:23px;
    height:23px;
    position:absolute;
    top:-10px;
    right:-8px;
}
#main-container .box .inside-box .main-block .second-box .block{
    width:100%;
}
#main-container .box .inside-box .main-block .second-box .block .create-store{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width:50%;
    padding:10px 30px 10px 0;
    border-radius:10px;
}
#main-container .box .inside-box .main-block .second-box .block .create-store:hover{
    background-color:#CCCDC6;
    padding:10px 30px 10px 30px;
}
#main-container .box .inside-box .main-block .second-box .block .create-store div{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:100px;
    background-color:var(--normalwhite);
    margin-right:10px;
    width:150px;
    height:100px;
}
#main-container .box .inside-box .main-block .second-box .block .create-store span{
    color:#746D69;
}




#main-container .box .body-row .main-block .third-box{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin-bottom:80px;
    width:100%;
    z-index:1;
}
#main-container .box .inside-box .main-block .third-box .inside{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding:20px;
    width:auto;
}
#main-container .box .body-row .main-block .third-box span{
    font-size: 20px;
    font-weight:550;
    margin-bottom:10px;
    width:100%;
}
#main-container .box .body-row .main-block .third-box .inner-box{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    width:100%;
}
#main-container .box .body-row .main-block .third-box .block1{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: flex-start;
    width:50%;
    margin-right:20px;
}
#main-container .box .body-row .main-block .third-box a{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
}
#main-container .box .body-row .main-block .third-box .block1 a .box1,
#main-container .box .body-row .main-block .third-box .block1 a .box2,
#main-container .box .body-row .main-block .third-box .block1 a .box3,
#main-container .box .body-row .main-block .third-box .block2 a .box1,
#main-container .box .body-row .main-block .third-box .block2 a .box2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width:100%;
    margin-bottom:20px;
}
#main-container .box .body-row .main-block .third-box .block1 a .box1 .icon,
#main-container .box .body-row .main-block .third-box .block1 a .box2 .icon,
#main-container .box .body-row .main-block .third-box .block1 a .box3 .icon,
#main-container .box .body-row .main-block .third-box .block2 a .box1 .icon,
#main-container .box .body-row .main-block .third-box .block2 a .box2 .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:5px;
    padding:10px;
    margin-right:10px;
    background-color:var(--lightblue);
    height:60px;
    width:60px;
}
#main-container .box .body-row .main-block .third-box .block1 a .box1 .text,
#main-container .box .body-row .main-block .third-box .block1 a .box2 .text,
#main-container .box .body-row .main-block .third-box .block1 a .box3 .text,
#main-container .box .body-row .main-block .third-box .block2 a .box1 .text,
#main-container .box .body-row .main-block .third-box .block2 a .box2 .text{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;
    border-radius:0 10px 10px 0;
    padding:10px;
    color:var(--normalblack);
    background-color:var(--normalwhite);
    box-shadow: inset 0.5px 0.5px 0.5px rgba(0,0,0,0.2);
    width:75%;
}
#main-container .box .body-row .main-block .third-box .block1 a .box1 .text span:nth-child(1),
#main-container .box .body-row .main-block .third-box .block1 a .box2 .text span:nth-child(1),
#main-container .box .body-row .main-block .third-box .block1 a .box3 .text span:nth-child(1),
#main-container .box .body-row .main-block .third-box .block2 a .box1 .text span:nth-child(1),
#main-container .box .body-row .main-block .third-box .block2 a .box2 .text span:nth-child(1){
    font-weight:550;
    font-size:15px;
    margin-bottom:10px;
}
#main-container .box .body-row .main-block .third-box .block1 a .box1 .text span:nth-child(2),
#main-container .box .body-row .main-block .third-box .block1 a .box2 .text span:nth-child(2),
#main-container .box .body-row .main-block .third-box .block1 a .box3 .text span:nth-child(2),
#main-container .box .body-row .main-block .third-box .block2 a .box1 .text span:nth-child(2),
#main-container .box .body-row .main-block .third-box .block2 a .box2 .text span:nth-child(2){
    font-size:15px;
    font-weight:normal;
    color:#746D69;
}
#main-container .box .body-row .main-block .third-box .block2{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: flex-start;
    width:50%;
}







.fa-star {
    font-size:14px;
    color:var(--lightgrey);
    background-color:var(--normalorange);
    border-radius:100px;
    padding:2.5px;
    position:relative;
}
#main-container .box .inside-box .side-block {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color:var(--lightgrey);
    width:30%;
    padding-left:10px;
    border-radius: 0 5px 5px 0;
}
#main-container .box .inside-box .side-block .block1{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color:var(--lightgrey);
    width:100%;
    margin: 0 5px 50px 0;
}
#main-container .box .inside-box .side-block .block1 .head{
    width:98%;
    font-weight:700;
    font-size:16px;
    letter-spacing:5px;
    margin:10px 0 10px 0;
}
#main-container .box .inside-box .side-block .block1 .inside-box{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width:98%;
    border-radius:5px;
    background-color:var(--normalwhite);
}
#main-container .box .inside-box .side-block .block1 .activity-log{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width:95%;
    font-size:15px;
    margin-bottom:10px;
    border-radius:15px;
    background-color:var(--normalwhite);
    color:var(--darkgrey);
    padding:5px;
}
#main-container .box .inside-box .side-block .block1 .activity-log .info{
    display: flex;
    justify-content: center;
    align-items: center;
    width:20px;
    height:20px;
    border-radius:50px;
    padding:3px;
    margin-right:10px;
    background-color:var(--lightgrey);
}










#main-container .box .inside-box .side-block .block2{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color:var(--lightgrey);
    width:100%;
    margin: 5px 5px 50px 0;
}
#main-container .box .inside-box .side-block .block2 .head{
    width:98%;
    font-weight:700;
    font-size:16px;
    letter-spacing:5px;
    margin-bottom:3px;
}
#main-container .box .inside-box .side-block .block2 .top-buyers{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width:98%;
    font-weight:550;
    font-size:16px;
    margin-bottom:10px;
    border-radius:15px;
    background-color:var(--normalwhite);
}
#main-container .box .inside-box .side-block .block2 .top-buyers img{
    height:70px;
    width:70px;
    object-fit:cover;
    margin-right:10px;
    font-size:20px;
    border:1px solid darkgrey;
    border:none;
}
#main-container .box .inside-box .side-block .block2 .top-buyers .text{
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: flex-start;
    width:70%;
    height:70px;
    padding-left:5px;
}
#main-container .box .inside-box .side-block .block2 .top-buyers .text .name{
}






#main-container .box .inside-box .side-block .block3{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;
    background-color:var(--lightgrey);
    width:100%;
}
#main-container .box .inside-box .side-block .block3 .inside{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width:98%;
}
#main-container .box .inside-box .side-block .block3 .head{
    width:98%;
    font-weight:700;
    font-size:16px;
    letter-spacing:3px;
    margin-bottom:10px;
}

#main-container .box .inside-box .side-block .block3 .search-field{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left:8px;
    margin-bottom:15px;
    width:100%;
}
#main-container .box .inside-box .side-block .block3 .search-field .icon-accounts-search{
    display: flex;
    justify-content: center;
    align-items: center;
    height:32px;
    width:15%;
    border-radius:20px 0 0 20px;
    border:none;
    border-right:0;
    font-size:0.7rem;
    font-weight:normal;
    background-color:var(--normalwhite);
    color:var(--normalblack);
}
#main-container .box .inside-box .side-block .block3 .search-field input{
    height:30px;
    width:67%;
    border-radius:0 20px 20px 0;
    border:none;
    border-left:none;
    font-size:12px;
    font-weight:normal;
    margin-left:0px;
    letter-spacing:1px;
    word-spacing:2px;
}
#main-container .box .inside-box .side-block .block3 .search-field button{
    display:none;
}
#main-container .box .inside-box .side-block .block3 .other-account{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width:98%;
    font-weight:550;
    font-size:16px;
    margin-bottom:10px;
    border-radius:15px;
    background-color:var(--normalwhite);
}
#main-container .box .inside-box .side-block .block3 .other-account a{
    display: flex;
    justify-content: center;
    align-items: center;
}
#main-container .box .inside-box .side-block .block3 .other-account a img{
    height:70px;
    width:70px;
    object-fit:cover;
    font-size:20px;
    border:1px solid darkgrey;
    border:none;
}
/*#main-container .box .inside-box .side-block .block3 .other-account .text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:70px;
    width:70%;
    padding:0 10px;
    color:var(--normalblack);
}*/
#main-container .box .inside-box .side-block .block3 .other-account .text{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;
    height:70px;
    padding:0 10px;
    color:var(--normalblack);
}
#main-container .box .inside-box .side-block .block3 .other-account .text span{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100px;
    height:30px;
    color:var(--normalwhite);
    border-radius:7px;
    font-size:15px;
    font-weight:bold;
    background-color:#CCCDC6;
    border:none;
}
#main-container .main-box{
    margin:0 6% 0 6%;
}




















@keyframes shake {
	0% {transform: rotate(-20deg)}
	25% {transform: rotate(20deg)}
	50% {transform: rotate(-20deg)}
	100% {transform: rotate(20deg)}
}
/*
@keyframes shake {
	0% {transform: translate(0px, 0px)}
	25% {transform: translate(5px, 10px)}
	50% {transform: translate(10px, 15px)}
	100% {transform: translate(15px, 20px)}
}
*/
@media screen and (max-width:1300px){
}
/*-------------------------------------------------------*/

@media screen and (max-width:1200px){
}
/*-------------------------------------------------------*/

@media screen and (max-width:1100px){
}
/*-------------------------------------------------------*/

@media screen and (max-width:1050px){
    #main-container .box .body-row .main-block .third-box .inner-box{
        flex-wrap:wrap;
    }
    #main-container .box .body-row .main-block .third-box .block1,
    #main-container .box .body-row .main-block .third-box .block2{
        width:100%;
        margin-right:0;
    }
    #main-container .box .body-row .main-block .third-box .block1 a,
    #main-container .box .body-row .main-block .third-box .block2 a{
        width:100%;
    }
    #main-container .box .body-row .main-block .third-box .block1 a .box1 .text,
    #main-container .box .body-row .main-block .third-box .block1 a .box2 .text,
    #main-container .box .body-row .main-block .third-box .block1 a .box3 .text,
    #main-container .box .body-row .main-block .third-box .block2 a .box1 .text,
    #main-container .box .body-row .main-block .third-box .block2 a .box2 .text{
        width:100%;
    }
}
/*-------------------------------------------------------*/

@media screen and (max-width:950px){
    #main-container .box .inside-box .main-block{
        flex-wrap:wrap;
        width:65%;
    }
    #main-container .box .inside-box .main-block .first-box .block2{
        margin-top:15px;
    }
    #main-container .box .inside-box .side-block {
        width:35%;
    }
    #main-container .box .inside-box .main-block .first-box .block1 .innerblock1{
        width:95%;
    }
}
/*-------------------------------------------------------*/

@media screen and (max-width:900px){
}
/*-------------------------------------------------------*/

@media screen and (max-width:850px){
}
/*-------------------------------------------------------*/

@media screen and (max-width:800px){
}
/*================================ipad================================*/

@media screen and (max-width:768px){
}
@media screen and (max-width:700px){
    #main-container .main-box .box  .inside-box .body-row{
        flex-wrap:wrap;
    }
    #main-container .main-box .box .inside-box .body-row .main-block{
        width:100%;
        margin-bottom:20px;
        border:none;
        border-radius:5px;
    }
    #main-container .box .inside-box .side-block {
        width:100%;
        border-radius:5px;
    }
    #main-container .box .inside-box .main-block .third-box .inner-box{
        flex-wrap:wrap;
    }
    #main-container .box .inside-box .main-block .third-box .block1{
        width:100%;
    }
    #main-container .box .inside-box .main-block .third-box .block2{
        width:100%;
    }
}
/*-------------------------------------------------------*/

@media screen and (max-width:600px){
}
/*=============================surface duo============================*/

@media screen and (max-width:540px){
}
/*-------------------------------------------------------*/

@media screen and (max-width:500px){
    #main-container .box .inside-box{
        flex-wrap:wrap;
    }
    #main-container .box .inside-box .main-block{
        width:100%;
    }
    #main-container .box .inside-box .side-block{
        margin-left:0;
        margin-top:20px;
        width:100%;
    }
}
/*-------------------------------------------------------*/

@media screen and (max-width:450px){
}
/*==========================iphone 6/7/8 plus=========================*/

@media screen and (max-width:414px){
}
/*==============Galaxy s5, moto G4=360px, iphone 6/7/8/x==============*/

@media screen and (max-width:375px){
}
/*-------------------------------------------------------*/

@media screen and (max-width:350px){
}
/*==============================iphone 5==============================*/

@media screen and (max-width:320px){}
/*========================kpalasa, Galaxy fold========================*/

@media screen and (max-width:280px){
}
/*-------------------------------------------------------*/

@media screen and (max-width:230px){
}
















