
#main-container{
    background-color:var(--lightgrey);
    margin-bottom:50px;
    z-index:1;
}
#main-container .main-box{
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size:14px;
    color:rgba(0,0,0,0.9);
}
#main-container .main-box .main-head{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: space-around;
    height:12vh;
    margin:0;
}
#main-container .main-box .main-head h2{
    font-weight:500;
    font-size:14px;
}
#main-container .main-box .main-head h3{
    font-size:17px;
}
#main-container .main-box .main-head h2,
#main-container .main-box .main-head h3 {
    margin:10px 0 0 0;
    padding:0;
}
#main-container .main-box .box{
    background-color:var(--normalwhite);

}
#main-container .main-box .box .inside-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
}
#main-container .main-box .box  .inside-box .body-row{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: flex-start;
    background-color:var(--lightgrey);
    width:100%;
}

#main-container .main-box .box  .inside-box .body-row .top{
    display: none;
    flex-direction:column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color:var(--lightgrey);
    width:100%;
    position:relative;
}
#main-container .main-box .box  .inside-box .body-row .top .side{
    height:125vh;
    overflow-y:auto;
    overflow-x:hidden;
    border-bottom:1px solid #CCCDC6;
}
#main-container .main-box .box  .inside-box .body-row .top .head{
    background-color:rgba(255,0,0,0.1);
    padding:5px 10px;
    text-align:center;
    width:120px;
}
#main-container .main-box .box  .inside-box .body-row .main{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width:100%;
}
.other-box{
    background-color:var(--normalwhite);
    display:flex;
    justify-content: center;
    align-items: center;
    width:80%;
    margin-bottom:70px;
    z-index:1;
}
.other-box .inner-box{
    background-color:var(--normalwhite);
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width:100%;
    margin:0;
    padding:0;
}
.other-box p{
    padding:20px;
    font-size:30px;
    color:#BBBCB6;
}
.other-box .inner-box .box-header{
    background-color:#CCCDC6;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 0 20px 0;
    margin:0 0 30px 0;
    height:2vh;
    width:100%;
}
.other-box .inner-box .box-header span {
    color:var(--normalblack);
    font-weight:normal;
    line-height:20px;
    letter-spacing:5px;
    text-align:center;
    font-size:18px;
    margin-left:10px;
}
.other-box .inner-box .box-header .item2 {
    position:relative;
    margin-right:10px;
}
.other-box .inner-box .box-header .item2 select {
    border-radius:5px;
    font-size:17px;
}
.other-box .inner-box .box-body{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items: flex-start;
    margin:0;
    width:98%;
    background-color:var(--normalwhite);
}
.other-box .inner-box .box-body .card{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color:var(--normalwhite);
    width:155px;
    height:300px;
    margin-bottom: 2rem;
    border-radius:5px;
    -webkit-transition: background, 800ms ease-in-out;
    -moz-transition: background, 800ms ease-in-out;
    -ms-transition: background, 800ms ease-in-out;
    -o-transition: background, 800ms ease-in-out;
}
.other-box .inner-box .box-body .card:hover{
    box-shadow:1px 1px 5px rgba(0,0,0,0.4);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
}
.other-box .inner-box .box-body .card-img{
    padding:0;
    overflow:hidden;
    position: relative;
    z-index:1;
    border-radius:10px;
}
.other-box .inner-box .box-body .card-img span{
    background-color:var(--normalorange);
    position: absolute;
    border-radius:3px;
    top:10px;
    right:0;
    margin-right:10px;
    padding:1px 4px;
    letter-spacing:2px;
    z-index:2;
}
.other-box .inner-box .box-body .card-img img{
    object-fit:cover;
    width:135px;
    height:135px;
    margin:0;
    padding:0;
    -webkit-transition: background, 800ms ease-in-out;
    -moz-transition: background, 800ms ease-in-out;
    -ms-transition: background, 800ms ease-in-out;
    -o-transition: background, 800ms ease-in-out;
}
.other-box .inner-box .box-body .card-img img:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.other-box .inner-box .box-body .card-text {
    display:flex;
    justify-content:flex-start;
    flex-direction:column;
    align-items:flex-start;
    color:var(--normalblack);
    width:92%;
    padding:0 5%;
}

.other-box .inner-box .box-body .card-text .title{
    font-size:15px;
    font-weight: normal;
    margin:10px 0 10px 0;
    color:#262525;
}
.other-box .inner-box .box-body .card-text .money{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:flex-start;
    font-size:15px;
    font-weight: normal;
    margin-bottom:10px;
}
.other-box .inner-box .box-body .card-text .money div{
    display:flex;
    justify-content:center;
    align-items:flex-end;
    margin-bottom:5px;
}
.other-box .inner-box .box-body .card-text .money div strong{
    font-weight: 550;
    padding:0;
    margin:0;
}
.other-box .inner-box .box-body .card-text .money div span{
    background-color:rgba(255,0,0,0.1);
    margin-left:5px;
    border-radius:5px;
    font-weight: 550;
    padding:2px 4px;
    color:#746D69;
    font-size:13px;
}
.other-box .inner-box .box-body .card button{
    margin:0;
    width:92%;
    height:var(--lg-btn-height);
    border-radius:var(--lg-btn-b-radius);
    font-size:var(--lg-btn-f-size);
    font-weight:var(--lg-btn-f-weight);
    color:var(--lg-btn-color);
    background-color:var(--lg-btn-bg-color);
    border:var(--lg-btn-border);
    box-shadow:var(--lg-btn-shadow);
}

.side{
    background-color:var(--normalwhite);
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width:20%;
    border-radius:5px;
    margin-right:2px;
}
.side .brand, .side .color, .side .size, .side .discount {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom:7px;
    padding-top: 10px;
    border:none;
    border-bottom:1px solid rgba(0,0,0,0.08);
    width:90%;
}
.side .discount {
    border:none;
}
.side .brand span:nth-child(1), .side .color span, .side .size span:nth-child(1), .side .discount span:nth-child(1) {
    font-size:14px;
    font-weight:700;
}
.side .checkbtn-txt,
.category .checkbtn-txt-top{
    margin-left:5px;
}
.side form{
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;
}
.side .search-field{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left:8px;
    margin-bottom:15px;
    width:100%;
}
.side form .search-field .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height:24px;
    width:15%;
    border-radius:20px 0 0 20px;
    border:0.1px solid #ACADA8;
    border-right:0;
    font-size:0.7rem;
    font-weight:normal;
    background-color:var(--normalwhite);
    color:var(--normalblack);
}
.side .search-field input{
    height:20px;
    width:67%;
    border-radius:0 20px 20px 0;
    border:0.1px solid #ACADA8;
    border-left:none;
    font-size:12px;
    font-weight:normal;
    margin-left:0px;
    letter-spacing:1px;
    word-spacing:2px;
}
.side form .search-field button{
    display:none;
}
.side span, .side form {
    margin-bottom:10px;
}




#main-container{
    margin:0 6% 0 6%;
}














.btn-hold{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:55px;
}
.submit-list-top,
.submit-list{
    width:95%;
    height:45px;
    background-color:var(--lightblue);
    border:none;
    border-radius:5px;
    font-size:17px;
    letter-spacing:2px;
}
.category {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom:7px;
    padding-top: 10px;
    border:none;
    border-bottom:1px solid rgba(0,0,0,0.08);
    width:90%;
}
.category ul{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;
    background-color:var(--normalwhite);
    border-radius:5px;
    padding:0;
    margin:0;
    width:100%;
}
.category ul .children,
.category ul .grand-children{
    margin-left:5px;
}
.category ul .head2{
    font-weight:700;
    color:var(--normalblack);
    width:100%;
    margin-bottom:5px;
}
.category ul li{
    width:100%;
    padding: 10px 0 10px 0;
    background-color:var(--normalwhite);
}
.category ul li input{
    font-size:15px;
    margin-right:11px;
}
.category ul li .name{
    margin-right:6px;
}
.category ul li .children .name{
    color:var(--lightblue);
}
.category ul li .grand-children .name{
    color:red;
}
.category ul li a{
    color:var(--darkgrey);
}
.category ul li:first-child{
    border-radius:5px 5px 0 0;
}
.category ul li:last-child{
    border-radius:0 0 5px 5px;
}















@media screen and (max-width:1300px){
}
/*-------------------------------------------------------*/

@media screen and (max-width:1200px){
}
/*-------------------------------------------------------*/

@media screen and (max-width:1100px){
}
/*-------------------------------------------------------*/

@media screen and (max-width:1050px){
}
/*-------------------------------------------------------*/

@media screen and (max-width:950px){
    #main-container .other-box .innerbox-row .first-block{
        flex-wrap:wrap;
        width:65%;
    }
    #main-container .other-box .innerbox-row .first-block .block2{
        margin-top:15px;
    }
    #main-container .other-box .innerbox-row .last-block {
        width:35%;
    }
    #main-container .other-box .innerbox-row .first-block .block1 .innerblock1{
        width:95%;
    }
}
/*-------------------------------------------------------*/

@media screen and (max-width:900px){
}
/*-------------------------------------------------------*/

@media screen and (max-width:850px){
    .category ul li input{
        margin-right:4px;
    }
    .category ul li .name{
        margin-right:2px;
    }
}
/*-------------------------------------------------------*/

@media screen and (max-width:800px){
}
/*================================ipad================================*/

@media screen and (max-width:768px){
    #main-container .main-box .box  .inside-box .body-row .top{
        display: flex;
    }
    .other-box{
        width:100%;
    }
    .side{
        display:none;
    }
    .side2{
        display:none;
        width:180px;
        border-radius:0;
        position:absolute;
        top:25px;
        left:0;
        z-index:2;
        overflow-y:scroll;
    }
    .brand, .color, .size, .discount{
        margin-left:10px;
    }
    .submit-list-top{
        width:85%;
        height:40px;
    }
}
/*-------------------------------------------------------*/

@media screen and (max-width:600px){
}
/*=============================surface duo============================*/

@media screen and (max-width:540px){
}
/*-------------------------------------------------------*/

@media screen and (max-width:500px){
    #main-container .other-box .innerbox-row{
        flex-wrap:wrap;
    }
    #main-container .other-box .innerbox-row .first-block{
        width:100%;
    }
    #main-container .other-box .innerbox-row .last-block{
        margin-left:0;
        margin-top:20px;
        width:100%;
    }
}
/*-------------------------------------------------------*/

@media screen and (max-width:450px){
}
/*==========================iphone 6/7/8 plus=========================*/

@media screen and (max-width:414px){
}
/*==============Galaxy s5, moto G4=360px, iphone 6/7/8/x==============*/

@media screen and (max-width:391px /*375 is the correct dimension*/){
    .other-box .inner-box .box-body .card{
        width:135px;
    }
    .other-box .inner-box .box-body .card-img img{
        width:115px;
    }
    .other-box .inner-box .box-header span {
        font-size:15px;
    }
    .other-box .inner-box .box-header .item2 {
        font-size:15px;
    }
    .other-box .inner-box .box-header .item2 select {
        font-size:15px;
    }
}
/*-------------------------------------------------------*/

@media screen and (max-width:350px){
}
/*==============================iphone 5==============================*/

@media screen and (max-width:320px){
    .other-box .inner-box .box-body{
        justify-content:center;
    }
    .other-box .inner-box .box-body .card{
        width:78vw;
    }
    .other-box .inner-box .box-body .card-img img{
        width:68vw;
    }
    .other-box .inner-box .box-header span {
        font-size:13px;
    }
    .other-box .inner-box .box-header .item2 {
        font-size:13px;
    }
    .other-box .inner-box .box-header .item2 select {
        font-size:13px;
    }
}
/*========================kpalasa, Galaxy fold========================*/

@media screen and (max-width:280px){
}
/*-------------------------------------------------------*/

@media screen and (max-width:230px){
}









