.form-control{
    width:100%;
    font-size:16px;
    height:35px;
    border-radius:5px;
    border:0.1px solid #CCCDC6;
    color:#746D69;
}
#form{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    background-color:var(--normalwhite);
    position:relative;
}
#form-inside{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    width:100%;
    margin-bottom:20px;
}
#form-inside form:nth-child(1){
    margin-top:50px;
}
#form-inside form{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width:40%;
    border:1px solid #f3f3f3;
    border-radius:5px;
    margin-bottom:80px;
}
#form-inside form .head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height:50px;
    background-color:#f3f3f3;
}
#form-inside form h1{
    font-size:20px;
    color:var(--normalblack);
    padding:0;
    margin:10px 0 0 20px;
    letter-spacing:1.5px;
}
#form-inside form .block{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:15px 0;
    width:90%;
}
#form-inside form .block .input{
    width:70%;
}
#form-inside form .block #textarea{
    width:100%;
    height:120px;
}
#form-inside form .block .label{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:30%;
    font-size:16px;
    font-weight:550;
    margin-bottom:20px;
}
#form-inside form .block:last-child .label{
    justify-content: space-between;
    width:100%;
}
#form-inside form .block:last-child .label a{
    font-weight:normal;
    letter-spacing:0;
    font-size:18px;
    margin:15px;
}
#form-inside form .block .dashboard{
    font-size:1px;
    margin-left:1000px;
}
#form-inside form button{
    width:100px;
    height:30px;
    margin-top:10px;
    border-radius:var(--lg-btn-b-radius);
    font-size:var(--lg-btn-f-size);
    font-weight:var(--lg-btn-f-weight);
    color:var(--lg-btn-color);
    background-color:var(--lightblue);
    border:var(--lg-btn-border);
    box-shadow:var(--lg-btn-shadow);
}
#form-inside form .edit_address{
    width:100%;
    height:30px;
    margin-top:10px;
    border-radius:var(--lg-btn-b-radius);
    font-size:var(--lg-btn-f-size);
    font-weight:var(--lg-btn-f-weight);
    color:var(--lg-btn-color);
    background-color:var(--lightblue);
    border:var(--lg-btn-border);
    box-shadow:var(--lg-btn-shadow);
}
#form-inside a button{
    width:180px;
    height:30px;
    border-radius:var(--lg-btn-b-radius);
    font-size:var(--lg-btn-f-size);
    font-weight:var(--lg-btn-f-weight);
    color:var(--normalblack);
    background-color:var(--lightgrey);
    border:var(--lg-btn-border);
    box-shadow:var(--lg-btn-shadow);
}
.alert{
    width:100%;
    height:3vh;
    font-size:14px;
    letter-spacing:1px;
    margin:0;
    padding:0;
    color:var(--lightred);
}
.alert p{
    margin:0;
    padding:0;
}
.fa-trash{
    color:red;
    font-size:25px;
}
.fa-pencil{
    color:#ACADA8;
    font-size:25px;
    margin:10px 20px 0 0;
}



#form-inside form .block .inner-block1{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: flex-end;
    width:100%;

}
.two, .three{
    display: none;
}
#form-inside form .block .inner-block1 .label{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:30%;
    font-size:16px;
    font-weight:550;
    margin-bottom:5px;
}
#form-inside form .block .inner-block1 .place1{
    display: flex;
    flex-direction:column;
    justify-content: flex-end;
    align-items: center;
    margin-right:20px;
}
#form-inside form .block .inner-block1 .place2{
    display: flex;
    flex-direction:column;
    justify-content: flex-end;
    align-items: center;
    margin-right:20px;
}
#form-inside form .block .inner-block1 .place3{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: flex-start;
}
#form-inside form .block .inner-block1 .input{
    width:100%;
    padding:0;
}
#form-inside form .block .inner-block1 .form-control{
    width:100%;
    height:35px;
    font-size:16px;
    border-radius:5px;
    border:0.1px solid #CCCDC6;
    color:#746D69;
    padding:0;
}
#form-inside form .block .inner-block1 .place1 .label{
    width:100%;
    font-size:16px;
    font-weight:550;
}
#form-inside form .block .inner-block1 .place2 .label{
    width:100%;
    font-size:16px;
    font-weight:550;
}
#form-inside form .block .inner-block1 .place3 .label{
    width:90%;
    font-size:16px;
    font-weight:550;
}
/*=====================================================*/







#spec{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width:90%;
}
#form-inside form #spec .inner-block{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: flex-end;
    width:100%;
    margin-bottom:25px;
}

#form-inside form #spec .inner-block .place1{
    display: flex;
    flex-direction:column;
    justify-content: flex-end;
    align-items: center;
    margin-right:20px;
    width:37%;
}
#form-inside form #spec .inner-block .place2{
    display: flex;
    flex-direction:column;
    justify-content: flex-end;
    align-items: center;
    margin-right:20px;
    width:37%;
}
#form-inside form #spec .inner-block .place3{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
#form-inside form #spec .inner-block .input{
    width:100%;
    padding:0;
}
#form-inside form #spec .inner-block .form-control{
    width:100%;
    height:35px;
    font-size:16px;
    border-radius:5px;
    border:0.1px solid #CCCDC6;
    color:#746D69;
    padding:0;
}
#form-inside form #spec .inner-block .label{
    width:100%;
    font-size:16px;
    font-weight:550;
    margin-bottom:5px;
}
#spec .add-more{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width:100%;
}







#form-inside form .block-column{
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: flex-start;
    margin:15px 0;
    width:90%;
}
#form-inside form .block-column .inner-block3{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: flex-end;
    width:100%;
    margin:5px;
    margin-bottom:10px;
}

#form-inside form .block-column .inner-block3 .place1{
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
    margin-right:20px;
}
#form-inside form .block-column .inner-block3 .place2,
#form-inside form .block-column .inner-block3 .place3{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: flex-end;
}
#form-inside form .block-column .inner-block3 .place2{
    margin-right:10px;
}
#form-inside form .block-column .inner-block3 .input{
    width:100%;
    border:none;
}
#form-inside form .block-column .inner-block3 .place1 .label{
    width:100%;
    font-size:16px;
    font-weight:550;
}
#form-inside form .block-column .inner-block3 .place2 .label,
#form-inside form .block-column .inner-block3 .place3 .label{
    width:90%;
    font-size:16px;
    font-weight:550;
}




@media screen and (max-width:1050px){
    #form-inside form{
        width:80%;
    }
    #form-inside form h1{
        font-size: 40px;
    }
}
@media screen and (max-width:1000px){
    #form-inside form h1{
        font-size: 38px;
    }
}
@media screen and (max-width:950px){
    #form-inside form h1{
        font-size: 35px;
    }
}
/*-------------------------------------------------------*/

@media screen and (max-width:900px){
    #form-inside form h1{
        font-size: 32px;
    }
}
/*-------------------------------------------------------*/

@media screen and (max-width:850px){
    #form-inside form h1{
        font-size: 28px;
    }
}
/*-------------------------------------------------------*/

@media screen and (max-width:800px){
    #form-inside form h1{
        font-size: 25px;
    }
}
/*================================ipad================================*/

@media screen and (max-width:768px){
}
/*-------------------------------------------------------*/

@media screen and (max-width:600px){
}
/*=============================surface duo============================*/

@media screen and (max-width:540px){
}
/*-------------------------------------------------------*/

@media screen and (max-width:500px){
}
/*-------------------------------------------------------*/

@media screen and (max-width:450px){
}
/*==========================iphone 6/7/8 plus=========================*/

@media screen and (max-width:414px){
}
/*==============Galaxy s5, moto G4=360px, iphone 6/7/8/x==============*/

@media screen and (max-width:375px){
}
/*-------------------------------------------------------*/

@media screen and (max-width:350px){
}
/*==============================iphone 5==============================*/

@media screen and (max-width:320px){}
/*========================kpalasa, Galaxy fold========================*/

@media screen and (max-width:280px){
}
/*-------------------------------------------------------*/

@media screen and (max-width:230px){
}




