
#form{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width:100%;
    background-color:var(--lightgrey);
}
#signin{
    display: flex;
    justify-content: center;
    align-items: center;
    width:60%;
    margin-top:20px;
    margin-bottom:20px;
}
#signin form{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width:80%;
}
#signin form h1{
    font-size: 45px;
    margin:0;
    color:var(--darkblue);
}
#signin form .input{
    width:100%;
    margin:0 0 30px 0;
}
#signin form .password{
    position:relative;
}
#signin form .form-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height:50px;
    font-size: 17px;
    border:none;
    background-color:var(--lightgrey);
    border-bottom:1px solid rgba(0,0,0,0.1);
    outline:none;
}
#signin form button{
    width:100%;
    height:50px;
    margin-top:10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius:var(--lg-btn-b-radius);
    font-size:var(--lg-btn-f-size);
    font-weight:var(--lg-btn-f-weight);
    color:var(--lg-btn-color);
    background-color:var(--lightblue);
    border:var(--lg-btn-border);
    box-shadow:var(--lg-btn-shadow);
}
#signin form .btn1{
    margin-top:20px;
    background-color:var(--lg-btn-bg-color);
}
#signin form .block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    position:relative;
}
.fa-eye-slash{
    position:absolute;
    top:2vh;
    margin-left:97%;
    font-size:25px;
    color:rgba(0,0,0,0.5);
}
.notification{
    background-color:
}
.alert{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height:3vh;
    font-size:14px;
    letter-spacing:1px;
    margin:0;
    padding:0;
    color:red;
}
.alert p{
    margin:0;
    padding:0;
}

.split-line{
    position:absolute;
    width:400px;
    height:1px;
    background-color:rgba(0,0,0,0.2);
    transform: rotate(-90deg);
    top:35vh;
    margin-left:45%;
}
.alert{
    width:100%;
    height:3vh;
    color:red;
    font-size:14px;
    letter-spacing:1px;
    margin:0;
    padding:0;
}
.alert p{
    margin:0;
    padding:0;
}
/*<span style="width:100%;height:1px;background-color:rgba(0,0,0,0.1);"> */

#create-account{
    display: flex;
    justify-content: center;
    align-items: center;
    width:40%;
    margin-top:20px;
    margin-bottom:20px;
}
#create-account h1{
    font-size: 30px;
    margin:0;
    color:var(--normalorange);
    margin-bottom:5px;

}
#create-account .block{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;
    width:80%;
    font-size:14px;
}
.fast-checkout,
.easy-track,
.order-history{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width:100%;
    margin-bottom:14px;
}
.fast-checkout i,
.easy-track i,
.order-history i{
    margin-right:15px;
    font-size:20px;
    color:var(--darkblue);
    font-weight:550;
}
.fast-checkout span,
.easy-track span,
.order-history span{
    font-weight:800;
    color:var(--darkblue);
}
#create-account .block a,
#create-account .block a{
    width:100%;
}
#create-account .block a .btn1,
#create-account .block a .btn2{
    width:100%;
    height:50px;
    margin-top:10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius:var(--lg-btn-b-radius);
    font-size:var(--lg-btn-f-size);
    font-weight:var(--lg-btn-f-weight);
    color:var(--lg-btn-color);
    background-color:var(--lightblue);
    border:var(--lg-btn-border);
    box-shadow:var(--lg-btn-shadow);
}
.fa-sign-in,
.fa-facebook{
    font-weight:500;
    font-size:25px;
    margin:0 20% 0 10px
}
#create-account .block a .btn1{
    margin-top:20px;
    background-color:var(--lg-btn-bg-color);
}









@media screen and (max-width:1200px){
    .split-line{
        margin-left:41%;
    }
}
@media screen and (max-width:1050px){
    .split-line{
        margin-left:41%;
    }
}
@media screen and (max-width:950px){
    .split-line{
        margin-left:38%;
    }
}
@media screen and (max-width:850px){
    .split-line{
        margin-left:35%;
    }
}
@media screen and (max-width:768px){
    #form{
        flex-wrap: wrap;
    }
    #signin{
        width:100%;
        margin-top:50px;
    }
    #create-account{
        width:100%;
        margin-top:100px;
    }
    #create-account .block{
        align-items: center;
    }
    .split-line{
        display:none;
    }
}
@media screen and (max-width:500px){
    #signin form h1{
        font-size: 35px;
    }
}














