
#form{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    background-color:var(--lightgrey);
    position:relative;
}
#register{
    display: flex;
    justify-content: center;
    align-items: center;
    width:80%;
    margin-bottom:20px;
}
#register form{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width:60%;
}
#register form h1{
    font-size: 45px;
    color:var(--darkblue);
}

#register form .input{
    width:100%;
    margin:0 0 10px 0;
}
#register form .form-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height:50px;
    font-size: 17px;
    border:none;
    background-color:var(--lightgrey);
    border-bottom:1px solid rgba(0,0,0,0.1);
    margin-bottom:0;
    outline:none;
}
#register form .password{
    position:relative;
}
#register form .password2{
    position:relative;
}
#register form .password .fa-eye-slash{
    position:absolute;
    top:20px;
    margin-left:96.5%;
    font-size:20px;
}
#register form .password2 .fa-eye-slash{
    position:absolute;
    top:20px;
    margin-left:96.5%;
    font-size:20px;
}
#register form button{
    width:100%;
    height:50px;
    margin-top:10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius:var(--lg-btn-b-radius);
    font-size:var(--lg-btn-f-size);
    font-weight:var(--lg-btn-f-weight);
    color:var(--lg-btn-color);
    background-color:var(--lightblue);
    border:var(--lg-btn-border);
    box-shadow:var(--lg-btn-shadow);
}
#register form .btn1{
    background-color:var(--lg-btn-bg-color);
}
#register form .btn1:hover{
    color:var(--darkblue);
}
#register form .block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    position:relative;
}
.fa-eye-slash{
    position:absolute;
    top:27vh;
    margin-left:46.5%;
    font-size:25px;
    color:rgba(0,0,0,0.5);
}
.alert{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height:3vh;
    font-size:14px;
    letter-spacing:1px;
    margin:0;
    padding:0;
    color:red;
}
.alert p{
    margin:0;
    padding:0;
}
.footer{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;
    width:100%;
    margin-top:30px;
    font-size:14px;
}
.footer span:nth-child(1){
    margin:0;
}
.footer span:nth-child(2){
    margin-top:40px;
    font-size:14px;
}
.footer span:nth-child(3){
    margin:10px 0 0 27px;
    color:var(--darkblue);
    font-weight:700;
}
.footer span:nth-child(3):hover,
.fa-user-circle:hover,
.fa-caret-right:hover{
    color:var(--normalorange);
}
.fa-user-circle, .fa-caret-right{
    margin-right:5px;
    font-size:20px;
    color:var(--darkblue);
}
.security{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width:100%;
    margin-top:50px;
    font-size:12px;
}
.security span{
    font-weight:700;
    font-size:17px;
}
.fa-lock{
    margin-right:15px;
    font-size:23px;
}













@media screen and (max-width:1050px){
    #register form{
        width:80%;
    }
    #register form h1{
        font-size: 40px;
    }
}
@media screen and (max-width:1000px){
    #register form h1{
        font-size: 38px;
    }
}
@media screen and (max-width:950px){
    #register form h1{
        font-size: 35px;
    }
}
/*-------------------------------------------------------*/

@media screen and (max-width:900px){
    #register form h1{
        font-size: 32px;
    }
}
/*-------------------------------------------------------*/

@media screen and (max-width:850px){
    #register form h1{
        font-size: 28px;
    }
}
/*-------------------------------------------------------*/

@media screen and (max-width:800px){
    #register form h1{
        font-size: 25px;
    }
}
/*================================ipad================================*/

@media screen and (max-width:768px){
}
/*-------------------------------------------------------*/

@media screen and (max-width:600px){
}
/*=============================surface duo============================*/

@media screen and (max-width:540px){
}
/*-------------------------------------------------------*/

@media screen and (max-width:500px){
}
/*-------------------------------------------------------*/

@media screen and (max-width:450px){
}
/*==========================iphone 6/7/8 plus=========================*/

@media screen and (max-width:414px){
}
/*==============Galaxy s5, moto G4=360px, iphone 6/7/8/x==============*/

@media screen and (max-width:375px){
}
/*-------------------------------------------------------*/

@media screen and (max-width:350px){
}
/*==============================iphone 5==============================*/

@media screen and (max-width:320px){}
/*========================kpalasa, Galaxy fold========================*/

@media screen and (max-width:280px){
}
/*-------------------------------------------------------*/

@media screen and (max-width:230px){
}
