{% extends 'core/base.html' %}
{% load namify %}

{% load static %}
{% block stylesheet %}{% static 'styles/product/product.css' %}{% endblock %}
{% block stylesheet2 %}{% static 'styles/breadcrumbs.css' %}{% endblock %}

{% block title %}
{% if product %}{{ product.title }}{% else %}Product{% endif %}
{% endblock %}

{% block content %}
<!--<ul class="breadcrumbs">
    <li><a href="/">Home</a></li>
    {% for i in product.category.get_slug_list %}
       <li><a href="/category/{{ i }}">{{i}}</a></li>
    {% endfor %}
</ul>-->
<section id="main-container" xmlns="http://www.w3.org/1999/html">
  <div class="main-box">
      <div class="main-head">
          <div id="head-notification" class="notification-success">
              <div id="notification-message"></div>
          </div>
          <ul class="breadcrumbs">
              <li><a href="/">Home</a></li>
                  {% for slug,name in breadcrumbs %}
                      <li><a href="{% url 'product_:category' slug %}">>  {{ name }}</a></li>
                  {% endfor %}
              <li> > {{product.title}}</li>
          </ul>
      </div>
      <div class="box">
          <div class="inside-box">
              <div class="body-row">
                  <div class="top">
                      <div class="first-block">
                          {% if request.user.is_authenticated %}
                          {% if product.vendor.unique_id == request.user.which_vendor.unique_id %}
                          <a id="edit" href="{% url "vendor_:edit_product_" product_id %}"><i class="fa fa-pencil" style="font-size:30px;"></i><span>edit</span></a>
                          {% endif %}
                          {% endif %}
                          <div class="block1">
                              <div class="innerblock1">
                                  {% for image in product.product_images.all %}
                                  {% if image.is_main %}
                                  <img class="img-fluid mx-auto d-block" src="{{ image.images.url }}" alt="{{ image.images.alt_text }}">
                                  {% endif %}
                                  {% endfor %}
                              </div>
                              <div class="innerblock2">
                                  {% for image in product.product_images.all %}
                                  <img class="sub-image" alt="Responsive image" src="{{ image.images.url }}">
                                  {% endfor %}
                              </div>
                              <span style="width:100%;height:1px;background-color:rgba(0,0,0,0.1);"></span>
                              <div class="innerblock3">
                                  <span>SHARE THIS PODUCT</span>
                              </div>
                              <div class="innerblock4">
                                  <span><a class="" href="{% url 'core_:contact' %}"><i class="fa fa-facebook"></i></a></span>
                                  <span><a href="{% url 'core_:contact' %}"><i class="fa fa-twitter"></i></a></span>
                                  <span><a href="{% url 'core_:contact' %}"><i class="fa fa-instagram"></i></a></span>
                              </div>
                          </div>

                          <div class="block2">
                              <div class="innerblock">
                                  <div class="first-line">
                                      <div class="title">
                                          <span class="name">{{ product.title }}</span>
                                          <span class="spec">{% if product_spec %}{% for i in product_spec %} _ {{i.value}} {% endfor %}{% endif %}</span>
                                          <span class="descr">{{ product.description|slice:":100" }}</span>
                                      </div>
                                      <div class="social">
                                          <div id="wishlist">
                                              {% if wishlist_boolean %}
                                              <i class="fa fa-shopping-bag" class="icon1" style="color:var(--lightblue);"> Remove</i>
                                              {% else %}
                                              <i class="fa fa-shopping-bag" class="icon1" style="color:var(--lightblue);"> Add</i>
                                              {% endif %}
                                          </div>
                                          <div id="likes">
                                              {% if like_boolean %}
                                              <i class="fa fa-heart-o" class="icon2" style="color:var(--lightblue);"> unlike</i>
                                              {% else %}
                                              <i class="fa fa-heart-o" class="icon2" style="color:var(--lightblue);"> like</i>
                                              {% endif %}
                                          </div>
                                      </div>
                                  </div>
                                  <span style="width:100%;height:1px;background-color:rgba(0,0,0,0.1);"></span>
                                  <div class="second-line">
                                      {% if product.discount_price != 0 %}
                                      <span class="discount"><strong style="margin:12px 0;font-size:23px;font-weight:900;color:var(--normalblack);">N {{ product.discount_price }} </strong></span>
                                      <span class="price"><strike>N {{ product.price }} </strike>
                                          <span class="percent">- {{ product.discount_percent }}%</span>
                                      </span>
                                      {% else %}
                                      <span class="price"><strong class="price" style="margin:12px 0;font-size:26px;font-weight:900;color:var(--normalblack);">{{ product.price }}</strong></span>
                                      {% endif %}
                                      <span class="tax" style="margin:12px 0;font-size:16px;color:var(--normalblack);">+ includes tax</span>
                                      <input style="display:none;" type="number" name="quantity" id="add-to-cart-input" value="1" class="input" min="1">
                                  </div>
                                  <span style="width:100%;height:1px;background-color:rgba(0,0,0,0.1);"></span>
                                  <div class="social-2">
                                      <span id="wishlist-no">({{ wishlist }}) wishlist</span>
                                      <span id="likes-no">({{ likes }}) likes</span>
                                  </div>
                                  <button data-index="{{ product_id }}" class="button" id="add-to-cart-btn" value="{{ product_id }}"><i class="fa fa-cart-plus" style="font-weight:500;font-size:25px;margin-right:30%"></i>Add to basket</button>
                                  <span style="width:100%;height:1px;background-color:rgba(0,0,0,0.1);margin-top:10px;"></span>
                                  <div class="promo" style="margin:8px 0;font-size:16px;color:var(--normalblack);font-weight:900;">PRODUCT PROMOTIONS</div>
                                  <div class="promo1" style="margin:8px 0 0 8px;font-size:16px;color:var(--lightblue);"><i class="fa fa-star"></i> Enjoy cheaper shipping fees when you select a PickUp station at checkout</div>
                                  <div class="promo2" style="margin:10px 0 0 8px;font-size:16px;color:var(--lightblue);"><i class="fa fa-star"></i> Borrow to buy</div>
                              </div>
                          </div>
                      </div>
                      <div class="last-block">
                          <div class="box1">
                              <div class="door-delivery">
                                  <i class="fa fa-heart-o" style="color:var(--normalblack);"></i>
                                  <div>
                                      <div>Door Delivery</div>
                                      <div><span style="font-weight:normal;font-size:14px;">Shipping</span> <span>#450</span></div>
                                  </div>
                              </div>
                              <hr>
                              <div class="pick-up">
                                  <i class="fa fa-heart-o" style="color:var(--normalblack);"></i>
                                  <div>
                                      <div>Pickup Station</div>
                                      <div><span style="font-weight:normal;font-size:14px;">Shipping</span> <span>#180</span></div>
                                  </div>
                              </div>
                              <hr>
                              <div class="return-policy">
                                  <i class="fa fa-heart-o" style="color:var(--normalblack);"></i>
                                  <div>
                                      <div>Return Policy</div>
                                      <div style="font-weight:normal;font-size:14px;">unsatisfactory Items must be returned in 7days after purchase</div>
                                  </div>
                              </div>
                          </div>
                          <div class="box2">
                              <div class="only-box">
                                  <span class="head" style="margin-top:10px;margin-bottom:10px;">SELLER INFORMATION</span>
                                  <span style="width:98%;height:1px;background-color:rgba(0,0,0,0.1);"></span>
                                  <div class="line2">
                                      <div class="block1">
                                          {% for i in product.vendor.vendor_image.all %}
                                          <img class="sub-image" alt="Responsive image" src="{{i.image_value.images.url}}" alt="{{ i.image_value.images.alt_text }}">
                                          {% endfor %}
                                          {% if product.vendor.unique_id != request.user.which_vendor.unique_id %}
                                          {% if stores_user_follow  %}
                                              {% if request.user in stores_user_follow %}
                                              <button class="follow-btn follow-a" data-index="{{product.vendor.id}}">Following</button>
                                              {% else %}
                                              <button class="follow-btn follow-b" data-index="{{product.vendor.id}}">Follow</button>
                                              {% endif %}
                                          {% else %}
                                          <button class="follow-btn follow-b" data-index="{{product.vendor.id}}">Follow</button>
                                          {% endif %}
                                          {% endif %}
                                      </div>
                                      <div class="block2">
                                          <div><span style="font-size:14px;font-weight:normal;">Store: </span><span>{{product.vendor.store_name}}</span></div>
                                          <div style="margin-top:17px;"><span class="place1"  style="font-size:14px;font-weight:normal;">Owner:</span> <span class="place2">{{product.vendor.created_by.user_name}}</span></div>
                                          <div style="margin-top:17px;"><span class="place2" style="font-size:14px;font-weight:normal;">{% if product.vendor.vendor_follower.all.count > 1 %}Followers{% else %}Follower{% endif %}</span>
                                              <span id="followers_no" class="place1">{% if product.vendor.vendor_follower.all.count %}({{product.vendor.vendor_follower.all.count}}){% else %}(0){% endif %}</span></div>
                                      </div>
                                  </div>
                                  <span style="width:98%;height:1px;background-color:rgba(0,0,0,0.1);"></span>
                                  <div class="line3" style="margin-top:10px;">
                                      <div style="margin:0 0 0 10px;">Sellers Performance <i class="fa fa-info-circle" style="font-size:20px;color:var(--darkgrey);"></i></div>
                                      <div class="order-fulfilment" style="margin:7px 0 0 10px;"><i class="fa fa-star"></i> <span style="font-weight:normal;font-size:14px;">Order Fulfilment Rate:</span> <span>Excellent</span></div>
                                      <div class="quality-score" style="margin:7px 0 0 10px;"><i class="fa fa-star"></i> <span style="font-weight:normal;font-size:14px;">Quality Score:</span> <span>Excellent</span></div>
                                      <div class="customer-rating" style="margin:7px 0 10px 10px;"><i class="fa fa-star"></i> <span style="font-weight:normal;font-size:14px;">Customer Rating:</span> <span>Average</span></div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!-- <div class="cmt-btn">
                          <span>comments(234)</span>
                          <span>write comment</span>
                      </div> -->
                  </div>
                  {% load mptt_tags %}
                  <div id="comment-block">
                      <div id="all-comment">
                          <div class="make-comment2" data-index="" id="myDIV2" style="display:none;">
                              <div style="width:100%;display:flex;justify-content:space-between;">
                                <span style="margin:5px 10px;" class="head">Reply comment</span>
                                <button style="margin:2px 10px;" type="button" id="close">&times;</button>
                              </div>
                              <div id="comment-notification1" class="notification-success">
                                  <div id="comment-message1"></div>
                              </div>
                                <div id="newForm" class="form">
                                    {% csrf_token %}
                                    <div class="block" {% if node.level == 0 %} style="width:50%; {% else %} style="width:100%; {% endif %}">
                                        <div class="label"><label for="id_name">Name:</label></div>
                                        <div class="input"><input type="text" name="name2" class="form-control" maxlength="50" id="id_name"></div>
                                    </div>
                                    <div class="block" style="width:100%;"><div class="label"><label for="id_email">Email:</label></div>
                                    <div class="input"><input type="text" name="email2" class="form-control" maxlength="254" id="id_email"></div></div>
                                    <div class="block" style="width:100%;">
                                        <div class="input" style="width:100%;">
                                            <textarea class="form-text-control2" placeholder="write a comment" name="content2" cols="40" rows="5" required id="id_content"></textarea>
                                        </div>
                                    </div>
                                    <div class="btn-place" style="width:100%;display:flex;justify-content:flex-end;">
                                      <button type="submit" id="reply-submit">Submit</button>
                                    </div>
                                </div>
                          </div>

                            <div id="sample" class="children place-0" style="display:none;">
                              <div class="body place-1" style="position:relative;">
                                  <hr style="position:absolute;top:50px;left:-10px;background-color:red;width:9px;">
                                  <div class="parent">
                                      <div class="content">
                                          <div class="top">
                                              <span class="place-2"><img style="width:60px;height:60px;" src="" alt=""></span>
                                              <div class="div1" style="margin-left:10px;">
                                                  <div class="div2" style="margin:0 10px 8px 0">
                                                      <span class="place-3" style="margin-right:10px;font-size:16px;font-weight:bold;"></span>
                                                      <span class="place-4" style="font-size:11px;font-weight:bold;"></span>
                                                  </div>
                                                  <span class="place-5" style="font-size:16px;"></span>
                                                  <div class="btn" style="margin-top:30px;">
                                                      <button class="button place-6">like</button>
                                                      <button class="button place-7">unlike</button>
                                                      <button class="reply-btn place-8" data-index="">Reply</button>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                            </div>

                          {% recursetree comments %}
                          <div class="body" id="{{ node.id }}" data-index="{{ node.id }}" style="{% if node.level != 0 %} position:relative;{% endif %}{% if node.level == 0 %} border-top:3px solid #ACADA8; margin-bottom:20px; {% endif %}{% if not node.is_leaf_node %} border-left:1px solid #CCCDC6;margin-bottom:5px; {% endif %}">
                              <hr style="position:absolute;top:50px;left:-10px;background-color:red;width:9px;">
                              <div class="parent"{% if not node.is_leaf_node %} style="margin-bottom:10px;" {% endif %}>
                                  <div class="content">
                                      <div class="top">
                                          <span class="place-2"><img style="width:60px;height:60px;" class="" src="{{ node.default_image.url }}" alt="{{ node.made_by.alt_text }}"></span>
                                          <div class="div1" style="margin-left:10px;">
                                              <div class="div2" style="margin:0 10px 8px 0">
                                                  <span class="place-3" style="margin-right:10px;font-size:16px;font-weight:bold;">{% if node.made_by != None %} {{ node.made_by }} {% else %} {{ node.name }} {% endif %}</span>
                                                  <span class="place-4" style="font-size:11px;font-weight:bold;">{{ node.made_at }}</span>
                                              </div>
                                              <span class="place-5" style="font-size:16px;">{{ node.content }}</span>
                                              <div class="btn" style="margin-top:30px;">
                                                   <button class="button" data-index="{{ node.id }}">like</button>
                                                  <button class="button" data-index="{{ node.id }}">unlike</button>
                                                  {% if node.level < 3 %}
                                                  <button {% if node.level == 0 %} data-level="level-0" {% else %} data-level="level-1" {% endif %} class="reply-btn" data-index="{{ node.id }}">Reply</button>
                                                  {% endif %}
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>


                              {% if not node.is_leaf_node %}
                              <div class="children" data-index="{{node.id}}">{{ children }}</div>
                              {% endif %}
                          </div>
                          {% endrecursetree %}
                      </div>

                      <div id="pagination">
                        <nav aria-label="">
                          {% if comments.has_other_pages %}
                          <ul class="pagination1">
                            {% if comments.has_previous %}
                            <li class="page-item previous-page-link"><a class="page-link" href="?page={{ comments.previous_page_number }}">Previous</a>
                            </li>
                            {% else %}
                            <li class="page-item previous-page-link"><a class="page-link" href="#">Previous</a></li>
                            {% endif %}
                            {% for num in comments.paginator.page_range %}
                            {% if comments.number == l %}
                            <li class="page-item page-num-link active"><span class="page-link">remove {{ num }} <span class="sr-only">(current)</span></span>
                            </li>
                            {% else %}
                            <li class="page-item page-num-link"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                            {% endif %}
                            {% endfor %}
                            {% if comments.has_next %}
                            <li class="page-item next-page-link"><a class="page-link" href="?page={{ comments.next_page_number }}">Next</a></li>
                            {% else %}
                            <li class="page-item next-page-link disabled"><a class="page-link" href="#">Next</a></li>
                            {% endif %}
                          </ul>
                          {% endif %}
                        </nav>
                      </div>

                      <div class="make-comment" id="myDIV">
                          <span class="head">Make a comment</span>
                          <form id="myForm" method="post" action="">
                                {% csrf_token %}
                                <div class="block" style="z-index:1;">
                                    <div class="label"><span>{{ comment_form.name.label }}:</span>
                                        {% if request.user.is_authenticated %}<span style="font-weight:none;margin-left:5px;font-size:14px;color:#ACADA8">(not required)</span>{% endif %}</div>
                                    <div class="input">
                                        {{ comment_form.name}}
                                        <div class="warning">
                                            {{ comment_form.name.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="block" style="z-index:1;">
                                  <div class="label"><span>{{ comment_form.email.label }}:</span>
                                        {% if request.user.is_authenticated %}<span style="font-weight:none;margin-left:5px;font-size:14px;color:#ACADA8">(not required)</span>{% endif %}</div>
                                    <div class="input">
                                        {{ comment_form.email}}
                                        <div class="warning">
                                            {{ comment_form.email.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div class="block">
                                    <div class="input">
                                        {{ comment_form.content}}
                                        <div class="warning">
                                            {{ comment_form.content.errors }}
                                        </div>
                                    </div>
                                </div>
                                <div style="width:100%;display:flex;justify-content:flex-end;"><button id="comment-submit" type="submit">submit</button></div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<hr>
<section>
    {% if similar_products %}
    <div class="category-box-inline" id="team-container">
        <div class="box-header">
            <div class="item-1">Wears</div>
            <div class="item-2">Wears</div>
        </div>
        <div class="box-body-flex">
            {% for product_html_frontpage_html_category_html in similar_products %}
                  {% include 'product/parts/list_item.html' %}
            {% endfor %}
        </div>
    </div>
    {% else %}
          <p>This item has no similar item</p>
    {% endif %}
</section>

{% endblock %}



{% block scripts %}
<script>
$(document).ready(function(){
    $('.follow-btn').on(
        {click: function(e){
            $('.pop-up').removeClass('head-notification-absolute')
            var id = $(this).data('index')
            $.ajax({
                type:"POST",
                url:"{% url 'vendor_:follow_unfollow' %}",
                data: {
                    vendor_id: id,
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    action: 'post',
                },
                success: function(json){
                    $('.pop-up').addClass('head-notification-absolute')
                    $('#notification-message').text(json.message)
                    if (json.exists == true){
                        new_no = json.followers_no - 1
                        $('#followers_no').text('(' + new_no + ')')
                        $('.follow-btn').text("Follow")
                        $('.follow-btn').css('background-color','var(--normalorange)')
                    }
                    else if (json.exists == false){
                        new_no = json.followers_no + 1
                        $('#followers_no').text('(' + new_no + ')')
                        $('.follow-btn').text("Following")
                        $('.follow-btn').css('background-color','var(--lightblue)')
                    }
                },
                error: function(xhr, errmsg, err){
                    console.log('completed with error');
                }
            });
        }}
    )

    $('form').on( 'keyup', 'textarea', function (){
        $(this).height( 0 );
        $(this).height( this.scrollHeight );
    });
    $('form').find( 'textarea' ).keyup();

    $('.sub-image').on(
        {mousedown: function(){
            $("#product-container > .outerbox-column > .box > .outerbox-block > .innerbox-row > .first-block > .block1 > .innerblock1").html($(this).clone(true));

        }}
    );

    $('#add-to-cart-btn').on(
        {click: function(e){
            e.preventDefault();
            var prod_id=$(this).data('index');
            $.ajax({
                type:"POST",
                url:"{% url 'cart_:cart_detail' %}",
                data: {
                    productQTY: $('#add-to-cart-input').val(),
                    productID: $(this).data('index'),
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    mainAction: 'post',
                    subAction: 'add'
                },
                success: function(json){
                    $("a > .cart > .qty").text(json.cart_length);
                    if (json.product_exist == true) {
                        $('#notification-message').html('<i class="fa fa-info"></i><span>This item already exists in your cart</span>')
                    }
                    else {
                        $('#notification-message').html('<i class="fa fa-info"></i><span>item has been added to cart</span>>')
                    }
                    $('#head-notification').slideDown(500).delay(2000).slideUp(500);
                },
                error: function(xhr, errmsg, err){
                    console.log('completed with error');
                }
            });

        }}
    )

    $('#wishlist').on(
        {click: function(e){
            e.preventDefault();
            $.ajax({
                type:"GET",
                url:"{% url "account_:wishlist_add_and_remove" product_id  %}",
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    action: 'get'
                },
                success: function(json){
                    $("#wishlist-no").text('('+ json.wishlist_no +') wishlist');
                    $('#wishlist').html(json.action_text)
                    if (json.product_exist == true) {
                        $('#notification-message').html('<i class="fa fa-info"></i><span>item has been removed from your wishlist</span>')
                    }
                    else {
                        $('#notification-message').html('<i class="fa fa-info"></i><span>item has been added to your wishlist</span>')
                    }
                    $('#head-notification').slideDown(500).delay(2000).slideUp(500);
                },
                error: function(xhr, errmsg, err){
                    console.log('completed with error');
                }
            });

        }}
    )
    $('#likes').on(
        {click: function(e){
            e.preventDefault();
            $.ajax({
                type:"GET",
                url:" {% url "product_:likes_add_and_remove" product.id  %}",
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    action: 'get'
                },
                success: function(json){
                    $("#likes-no").text('('+ json.likes_no +') likes');
                    $('#likes').html('<i class="fa fa-heart-o" id="icon2" style="color:var(--lightblue);"> Unlike</i>')
                    $('#likes').html(json.action_text)
                    if (json.product_exist == true) {
                        $('#notification-message').html('<i class="fa fa-info"></i></span><span>You unliked this item</span>')
                    }
                    else {
                        $('#notification-message').html('<i class="fa fa-info"></i></span><span>You liked this item</span>')
                    }
                    $('#head-notification').slideDown(500).delay(2000).slideUp(500);
                },
                error: function(xhr, errmsg, err){
                    console.log('completed with error');
                }
            });

        }}
    )




  $("#close").on(
        {click: function(){
            $("#myDIV2").css('display','none')
        }}
  )
  $(".reply-btn").on(
        {mousedown: function(){
            var comment_id=$(this).data('index');
            var element_level=$(this).attr('data-level');
            $("#reply-submit").attr('data-index','' + comment_id + '')
            $("#reply-submit").removeAttr('data-level')
            $("#reply-submit").attr('data-level','' + element_level + '')
            $('div.make-comment2').css('display','flex')
            var comment_box = $("#myDIV2").clone(true)
            if (document.contains(document.getElementById("myDIV2"))) {
                $("#myDIV2").remove()
            }
            console.log('comment_id')
            console.log(comment_id)
            $('#' + comment_id).append(comment_box)

            /* var comment = document.getElementById(comment_id);
            comment.insertAdjacentHTML('afterEnd',
              '<div class="make-comment2" id="myDIV2"><div style="width:100%;display:flex;justify-content:space-between;"> \
                        <span style="margin:5px 10px;" class="head">Reply comment</span> \
                        <button style="margin:2px 10px;" type="button" id="close">&times;</button></div> \
                        <div id="newForm" class="form"> {% csrf_token %} \
                        <div class="block" {% if node.level == 0 %} style="width:50%; {% else %} style="width:100%; {% endif %}"> \
                        <div class="label"><label for="id_name">Name:</label></div> \
                        <div class="input"><input type="text" name="name2" class="form-control" maxlength="50" id="id_name"></div></div> \
                        <div class="block" style="width:100%;"><div class="label"><label for="id_email">Email:</label></div> \
                        <div class="input"><input type="text" name="email2" class="form-control" maxlength="254" id="id_email"></div></div> \
                        <div class="block" style="width:100%;"><div class="input" style="width:100%;"> \
                        <textarea class="form-text-control2" placeholder="write a comment" name="content2" cols="40" rows="5" required id="id_content"> \
                        </textarea></div></div><div style="width:100%;display:flex;justify-content:flex-end;"> \
                        <button type="submit" data-index="' + comment_id + '" id="reply-submit">Submit</button></div> \
                      </div></div>');
            */
            //document.querySelector('#id_parentt [value="' + id + '"]').selected = true;

        }}
  )
  $('#myForm').trigger("reset");

    $('#reply-submit').on(
        {click: function(e){
            e.preventDefault();
            var parent =$(this).attr('data-index');
            var element_level =$(this).attr('data-level');
            var name = $('.form-control[name="name2"]').val()
            var email = $('.form-control[name="email2"]').val()
            var comment = $(".form-text-control2").val()
            var product_id = "{{product.id}}"
            $.ajax({
                type:"POST",
                url:" {% url 'message_:make_comment' %}",
                data: {
                    name: name,
                    email: email,
                    comment: comment,
                    product_id: product_id,
                    parent: parent,
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    action: 'post'
                },
                success: function(json){
                if (json.error == true) {
                    //var comment_parent = document.getElementById(parent);
                    $(json.comments.table).each(function(index, values){
                        var made_by=values.fields.made_by
                        var id=values.id
                        var name=values.fields.name
                        var email=values.fields.email
                        var default_image=values.fields.default_image
                        var made_on=values.fields.made_on
                        var parent=values.fields.parent
                        var content=values.fields.content
                        var made_at=values.fields.made_at

                        // assigning data to the dummy
                        $("#sample.place-0").attr('data-index','' + parent + '')
                        $("#sample.place-0 > .place-1").attr('data-index','' + values.pk + '')
                        $("#sample.place-0 > .place-1 > .parent > .content > .top > .place-2 > img").attr('src', json.image)
                        console.log(values.fields.name)
                        if (json.made_by == 'null'){
                            $("#sample.place-0 > .place-1 > .parent > .content > .top > .div1 > .div2 > .place-3").text(values.fields.name)
                        }
                        else {
                            $("#sample.place-0 > .place-1 > .parent > .content > .top > .div1 > .div2 > .place-3").text(values.fields.made_by)
                        }
                        $("#sample.place-0 > .place-1 > .parent > .content > .top > .div1 > .div2 > .place-4").text(values.fields.made_at)
                        $("#sample.place-0 > .place-1 > .parent > .content > .top > .div1 > .place-5").text(content)
                        $("#sample.place-0 > .place-1 > .parent > .content > .top > .div1 > .btn > .place-8").attr('data-index','' + values.pk  + '')
                        $("#sample.place-0 > .place-1 > .parent > .content > .top > .div1 > .btn > .place-8").attr('data-level','leve1-1')

                        $("#sample.place-0").css('display','flex')
                        $("#sample.place-0 > .place-1 > hr").css('display','block')
                        var box = $("#sample.place-0").clone(true)
                        box.attr('id','' + values.pk + '')

                        // returning th dummy to a dummy state
                        $("#sample.place-0").removeAttr('data-index')
                        $("#sample.place-0 > .place-1").removeAttr('id').removeAttr('data-index')
                        $("#sample.place-0").css('display','none')

                        $('.body[data-index="' + parent + '"]').css('border-left','1px solid #CCCDC6').css('border-bottom','1px solid #CCCDC6').css('margin-bottom','5px')
                        $('.body[data-index="' + parent + '"]').append(box)
                        $("#myDIV2").css('display','none')
                        /* $('.children[data-index="' + parent + '"]').prepend('<div class="body" id="' +  parent + '" style="margin-bottom:20px;"> \
                              <div class="parent"> \
                                  <div class="content"> \
                                      <div class="top"> \
                                          <span><img style="width:60px;height:60px;" class="" src="' + json.image + '" alt=""></span> \
                                          <div style="margin-left:10px;"> \
                                              <div style="margin:0 10px 8px 0"><span style="margin-right:10px;font-size:16px;font-weight:bold;">' + json.made_by + '</span><span style="font-size:11px;font-weight:bold;">' + values.fields.made_at + '</span></div> \
                                              <span  style="font-size:16px;">' + content + '</span> \
                                              <div class="btn" style="margin-top:30px;"> \
                                                  <button class="button">like</button> \
                                                  <button class="button">unlike</button> \
                                                  <button class="reply-btn" data-index="' + parent + '">Reply</button> \
                                              </div> \
                                          </div> \
                                      </div> \
                                  </div> \
                              </div> \
                          </div>'); */
                    });
                }
                else if (json.error == false) {

                    console.log('na lie')
                    $('#comment-message1').html('<i class="fa fa-info"></i><span>non signedup users need a name & address</span>')
                    $('#comment-notification1').slideDown(500).delay(2000).slideUp(500);
                }
                },
                error: function(xhr, errmsg, err){
                    console.log('completed with error');
                }
            });

        }}
    )

    $('#comment-submit').on(
        {click: function(e){
            e.preventDefault();
            var name = $('.form-control[name="name"]').val()
            var email = $('.form-control[name="email"]').val()
            var comment = $(".form-text-control").val()
            var product_id = "{{product.id}}"
            var product_cat_slug = "{{product.category.slug}}"
            var product_slug = "{{product.slug}}"
            $.ajax({
                type:"POST",
                url:" {% url 'message_:make_comment' %}",
                data: {
                    name: name,
                    email: email,
                    comment: comment,
                    product_id: product_id,
                    parent: "",
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    action: 'post'
                },
                success: function(json){
                    //document.getElementById("all-comment").remove();
                    var d1 = document.getElementById("all-comment");

                    $(json.comments.table).each(function(index, values){
                        var made_by=values.fields.made_by
                        var id=values.id
                        var name=values.fields.name
                        var email=values.fields.email
                        var default_image=values.fields.default_image
                        var made_on=values.fields.made_on
                        var parent=values.fields.parent
                        var content=values.fields.content
                        var made_at=values.fields.made_at

                        // assigning data to the dummy
                        $("#sample.place-0 > .place-1").attr('data-index','' + values.pk + '')
                        $("#sample.place-0 > .place-1 > .parent > .content > .top > .place-2 > img").attr('src', json.image)
                        console.log(values.fields.name)
                        if (json.made_by == 'null'){
                            $("#sample.place-0 > .place-1 > .parent > .content > .top > .div1 > .div2 > .place-3").text(values.fields.name)
                        }
                        else {
                            $("#sample.place-0 > .place-1 > .parent > .content > .top > .div1 > .div2 > .place-3").text(values.fields.made_by)
                        }
                        $("#sample.place-0 > .place-1 > .parent > .content > .top > .div1 > .div2 > .place-4").text(values.fields.made_at)
                        $("#sample.place-0 > .place-1 > .parent > .content > .top > .div1 > .place-5").text(content)
                        $("#sample.place-0 > .place-1 > .parent > .content > .top > .div1 > .btn > .place-8").attr('data-index','' + values.pk  + '')
                        $("#sample.place-0 > .place-1 > .parent > .content > .top > .div1 > .btn > .place-8").attr('data-level','leve1-1')

                        $("#sample.place-0 > .place-1 > hr").css('display','none')
                        $("#sample.place-0 > .place-1").css('display','flex')
                        var box = $("#sample.place-0 > .place-1").clone(true)
                        box.attr('id','' + values.pk + '')

                        // returning th dummy to a dummy state
                        $("#sample.place-0").removeAttr('data-index')
                        $("#sample.place-0 > .place-1").removeAttr('id').removeAttr('data-index')
                        $("#sample.place-0").css('display','none')

                        box.css('border-top','3px solid #ACADA8').css('margin-bottom','20px')
                        $('#all-comment').prepend(box)

                        /*d1.insertAdjacentHTML('afterBegin', '<div class="body" id="' +  id + '" style="border-top:3px solid #ACADA8; margin-bottom:20px;"> \
                              <div class="parent"> \
                                  <div class="content"> \
                                      <div class="top"> \
                                          <span><img style="width:60px;height:60px;" class="" src="' + json.image + '" alt=""></span> \
                                          <div style="margin-left:10px;"> \
                                              <div style="margin:0 10px 8px 0"><span style="margin-right:10px;font-size:16px;font-weight:bold;">' + json.made_by + '</span><span style="font-size:11px;font-weight:bold;">' + values.fields.made_at + '</span></div> \
                                              <span  style="font-size:16px;">' + content + '</span> \
                                              <div class="btn" style="margin-top:30px;"> \
                                                  <button class="button">like</button> \
                                                  <button class="button">unlike</button> \
                                                  <button class="reply-btn" data-index="' + id + '">Reply</button> \
                                              </div> \
                                          </div> \
                                      </div> \
                                  </div> \
                              </div> \
                          </div>'); */
                    });

                },
                error: function(xhr, errmsg, err){
                    console.log('completed with error');
                }
            });

        }}
    )
});
</script>
{% endblock %}
