
#main-container{
    background-color:var(--normalwhite);
    margin-bottom:50px;
    z-index:1;
    /* d inner scroll happens only when a parent tag is given a height
     while it content(child) is longer than d height given its parent
     height:100vh;*/
}
#main-container .main-box{
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size:14px;
    color:rgba(0,0,0,0.9);
    background-color:var(--normalwhite);
}
#main-container .main-box .main-head{
    display: flex;
    justify-content: center;
    align-items: center;
    height:6vh;
    margin:0;
}
#main-container .main-box .main-head h1{
    font-size: 20px;
}
#main-container .main-box .box{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
#main-container .main-box .box .empty{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    padding:30px 0;
    font-size:25px;
    color:#BBBCB6;
    border-radius:5px;
    background-color:var(--lightgrey);
}
#main-container .main-box .box .inside-box{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width:100%;

}
#main-container .box .body-row{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: flex-start;
    width:100%;
    margin-bottom:30px;
    /*padding-bottom:45px;*/
}
#main-container .box .body-row .cover{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width:100%;
    padding-top:10px;
    margin-bottom:30px;
}
#main-container .box .body-row .first-block{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color:var(--lightgrey);
    border:1px solid #BBBCB6;
    border-radius:10px;
    width:100%;
    margin-bottom:10px;
}
#main-container .box .body-row .first-block .innerblock1{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;
    background-color:var(--lightgrey);
    border-radius:10px;
    width:55%;
    margin:10px;
}
#main-container .box .body-row .first-block .innerblock1 .main{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: flex-start;
    background-color:var(--normalwhite);
    color:#746D69;
    box-shadow:1px 1px 1px 1px #BBBCB6;
    border-radius:40px;
    padding:15px;
    position:relative;
    width:50%;
}
.fa-check, .fa-times{
    font-size:30px;
    position:absolute;
    top:8px;
    right:20px;
}
#main-container .box .body-row .first-block .innerblock1 .delivery,
#main-container .box .body-row .first-block .innerblock1 .address{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: flex-start;
    background-color:var(--normalwhite);
    border:1px solid #BBBCB6;
    border-radius:5px;
    padding:5px;
    width:97%;
}
#main-container .box .body-row .first-block .innerblock1 .text-1{
    font-size:18px;
}
#main-container .box .body-row .first-block .innerblock1 .text-1 span:nth-child(1){
    font-weight:bold;
    width:50px;
    margin-right:10px;
}
#main-container .box .body-row .first-block .innerblock1 .texts{
    margin:5px;
    margin-left:0;
}
#main-container .box .body-row .first-block .innerblock1 .texts span:nth-child(1){
    width:100px;
    height:100px;
    font-weight:bold;
    color:var(--normalblack);
    margin-right:10px;
}
#main-container .box .body-row .first-block .innerblock1 button{
    margin:10px 0 5px 0;
    font-size:18px;
    font-weight:bold;
    border-radius:5px;
    background-color:#BBBCB6;
    color:var(--normalwhite);
}
#main-container .box .body-row .first-block .innerblock2{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color:var(--normalwhite);
    border:1px solid #BBBCB6;
    border-radius:10px;
    width:40%;
    margin:10px;
    padding:5px;
    overflow-x:scroll;
}
#main-container .box .body-row .first-block .innerblock2 .block1{
    display: flex;
    justify-content: center;
    align-items: center;
    width:99%;
    border-radius:10px;
    margin-top:5px;
}
#main-container .box .body-row .first-block .innerblock2 .block1 img{
    width:100%;
    height:300px;
    border-radius:10px;
    object-fit:cover;
    -webkit-transition: background, 800ms ease-in-out;
    -moz-transition: background, 800ms ease-in-out;
    -ms-transition: background, 800ms ease-in-out;
    -o-transition: background, 800ms ease-in-out;
}

#main-container .box .body-row .first-block .innerblock2 .block2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width:99%;
    border-radius:10px;

}
#main-container .box .body-row .first-block .innerblock2 .block2 .card2{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100px;
    border-radius:10px;
    background-color:red;
    margin:5px;
    margin-left:0;
}
#main-container .box .body-row .first-block .innerblock2 .block2 .card2 .box1{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:5px;
    width:100%;
    overflow-y:hidden;
    overflow-x:hidden;
    background-color:var(--normalblack);
}
#main-container .box .body-row .first-block .innerblock2 .block2 .card2 .box1 img{
    width:100%;
    height:110px;
    object-fit:cover;
    -webkit-transition: background, 800ms ease-in-out;
    -moz-transition: background, 800ms ease-in-out;
    -ms-transition: background, 800ms ease-in-out;
    -o-transition: background, 800ms ease-in-out;
}
#main-container .box .body-row .first-block .innerblock2 .block2 .card2 .box1 img:hover{
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
}





#main-container .box .body-row .second-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:var(--lightgrey);
    width:100%;
    padding-top:10px;
    margin-bottom:30px;
    border:2px solid #BBBCB6;
}
#main-container .box .body-row .cart-item-block{
    display: flex;
    justify-content: center;
    align-items: center;
    width:20%;
    margin-bottom:30px;
}
#main-container .box .body-row:last-child{
    margin-bottom:0;
    /*padding-bottom:45px;*/
}
#main-container .box .body-row .first-box{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color:var(--normalwhite);
    width:90%;
    height:135px;
    border-radius:5px;
    border:2px solid #E8E9EB;
}
#main-container .box .body-row .first-box .block1{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: flex-start;
    border-radius:5px;
    background-color:var(--lightgrey);
    margin:10px;
    width:50%;
}
#main-container .box .body-row .first-box .block1 .innerblock1{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y:hidden;
    overflow-x:hidden;
    border-radius:5px;
    width:100%;
    background-color:var(--normalblack);
}
#main-container .box .body-row .first-box .block1 .innerblock1 img{
    width:100%;
    height:110px;
    object-fit:cover;
    -webkit-transition: background, 800ms ease-in-out;
    -moz-transition: background, 800ms ease-in-out;
    -ms-transition: background, 800ms ease-in-out;
    -o-transition: background, 800ms ease-in-out;
}
#main-container .box .body-row .first-box .block1 .innerblock1 img:hover{
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
}

#main-container .box .body-row .first-box .block2{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-end;
    flex-grow:1;
    border-radius:5px;
    width:70%;
    height:80%;
    margin:10px 10px 10px 0;
    background-color:red;
}
#main-container .box .body-row .first-box .block2 .innerblock{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height:100%;
    background-color:var(--normalwhite);
}
#main-container .box .body-row .first-box .block2 .innerblock .first-line{
    width:100%;
    display:flex;
    justify-content:flex-start;
    align-items:center;
}
#main-container .box .body-row .first-box .block2 .innerblock .first-line{
    font-size:17px;
    font-weight:550;
}
.fa-plus-circle{
    font-size:25px;
    font-weight:600;
    color:var(--darkblue);
    border:none;
    background-color:white;
    margin-left:15px;
}
.fa-minus{
    font-size:16px;
    font-weight:600;
    color:var(--darkblue);
    border:1px solid var(--darkgrey);
    border-radius:100%;
    padding:3px;
    background-color:white;
    margin-right:15px;
}
#main-container .box .body-row .first-box .block2 .innerblock .second-line{
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    font-weight:550;
}
#main-container .box .body-row .first-box .block2 .innerblock .second-line i{
    margin-right:10px;
}
#main-container .box .body-row .first-box .block2 .innerblock .second-line .price{
    color:#ACADA8;
    margin-top:10px;
    margin-right:10px;
}
#main-container .box .body-row .first-box .block2 .innerblock .second-line .price2{

}
#main-container .box .body-row .first-box .block2 .innerblock .second-line .price3{

}
#main-container .box .body-row .first-box .block2 .innerblock .first-line button,
#main-container .box .body-row .first-box .block2 .innerblock .second-line button{
    font-size:16px;
    font-weight:600;
    color:var(--darkblue);
    border:none;
    background-color:var(--normalwhite);
}
#main-container .box .body-row .first-box .block2 .innerblock .social{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
}
#main-container .box .body-row .first-box .block2 .innerblock a{
    color:var(--normalblack);
}









.main-box{
    margin:0 6% 0 6%;
}























@media screen and (max-width:1300px){
}
/*-------------------------------------------------------*/

@media screen and (max-width:1200px){
}
/*-------------------------------------------------------*/

@media screen and (max-width:1100px){
}
/*-------------------------------------------------------*/

@media screen and (max-width:1050px){
}
/*-------------------------------------------------------*/

@media screen and (max-width:950px){

}
/*-------------------------------------------------------*/

@media screen and (max-width:900px){
}
/*-------------------------------------------------------*/

@media screen and (max-width:850px){
}
/*-------------------------------------------------------*/

@media screen and (max-width:800px){
}
/*================================ipad================================*/

@media screen and (max-width:768px){
}
/*-------------------------------------------------------*/

@media screen and (max-width:750px){
    #main-container .box .body-row .first-block{
        flex-wrap:wrap;
    }
    #main-container .box .body-row .first-block .innerblock1{
        width:100%;
    }
    #main-container .box .body-row .first-block .innerblock2{
        width:100%;
    }
    #main-container .box .body-row .first-block .innerblock1 .main{
        width:95%;
    }
}

/*=============================surface duo============================*/

@media screen and (max-width:540px){
}
/*-------------------------------------------------------*/

@media screen and (max-width:500px){
}
/*-------------------------------------------------------*/

@media screen and (max-width:450px){
}
/*==========================iphone 6/7/8 plus=========================*/

@media screen and (max-width:414px){
}
/*==============Galaxy s5, moto G4=360px, iphone 6/7/8/x==============*/

@media screen and (max-width:375px){

}
/*-------------------------------------------------------*/

@media screen and (max-width:350px){
}
/*==============================iphone 5==============================*/

@media screen and (max-width:320px){}
/*========================kpalasa, Galaxy fold========================*/

@media screen and (max-width:280px){
}
/*-------------------------------------------------------*/

@media screen and (max-width:230px){
}









