
#main-container{
    background-color:var(--lightgrey);
    margin-bottom:50px;
    z-index:1;
}
#main-container .main-box{
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size:14px;
    color:rgba(0,0,0,0.9);
    background-color:var(--lightgrey);
}
#main-container .main-box .main-head{
    width:100%;
}
#main-container .main-box .main-head ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height:6vh;
    margin:0;
    padding:0;
    margin:0;
    width:100%;
}
#main-container .main-box .main-head ul li{
    margin-right:10px;
    color:var(--normalblack);
}
#main-container .main-box .box{
    background-color:var(--normalwhite);
}
#main-container .main-box .box .inside-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
}
#main-container .main-box .box  .inside-box .body-row{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: flex-start;
    background-color:var(--lightgrey);
    width:100%;
}
#main-container .main-box .box  .inside-box .body-row .top{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color:var(--lightgrey);
    width:100%;
    position:relative;
    margin-bottom:30px;
}

#main-container .main-box .box .inside-box .body-row .first-block{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color:var(--normalwhite);
    padding-bottom:15px;
    width:78%;
    position:relative;
    margin-bottom:10px;
}
#main-container .main-box .box .inside-box .body-row #edit{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:absolute;
    bottom:15px;
    right:15px;
    width:60px;
    font-size:17px;
    font-weight:550;
}
#main-container .main-box .box .inside-box .body-row  #edit:hover{
    color:var(--normalorange);
}
#main-container .main-box .box .inside-box .first-block .block1{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    padding:15px 0 0 15px;
    height:100%;
    background-color:var(--normalwhite);
    border-radius:5px;
    width:30%;
}
#main-container .main-box .box .inside-box .first-block .block1 .innerblock1{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    overflow-y:hidden;
    overflow-x:hidden;
    border-radius:5px;
    width:100%;
    background-color:var(--normalblack);
    position:relative;
    z-index:1;
}
#main-container .main-box .box .inside-box .first-block .block1 .innerblock1 img{
    width:100%;
    height:330px;
    object-fit:cover;
    -webkit-transition: background, 800ms ease-in-out;
    -moz-transition: background, 800ms ease-in-out;
    -ms-transition: background, 800ms ease-in-out;
    -o-transition: background, 800ms ease-in-out;
    z-index:1;
}
#main-container .main-box .box .inside-box .first-block .block1 .innerblock1 img:hover{
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
}
#main-container .main-box .box .inside-box .first-block .block1 .innerblock2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    margin-top:17px;
    overflow-y:auto;
    z-index:1;
    padding:0;
}
#main-container .main-box .box .inside-box .first-block .block1 .innerblock2 img{
    display: flex;
    width:50px;
    height:50px;
    object-fit:cover;
    margin:0 5px;
    border-radius:5px;
    -webkit-transition: background, 800ms ease-in-out;
    -moz-transition: background, 800ms ease-in-out;
    -ms-transition: background, 800ms ease-in-out;
    -o-transition: background, 800ms ease-in-out;
    z-index:1;
}
#main-container .main-box .box .inside-box .first-block .block1 .innerblock2 img:last-child{
    margin-right:0;
}
#main-container .main-box .box .inside-box .first-block .block1 .innerblock2 img:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
#main-container .main-box .box .inside-box .first-block .block1 .innerblock2 img:nth-child(1){
    margin-left:0;
}
#main-container .main-box .box .inside-box .first-block .block1 .innerblock3{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width:100%;
    margin-top:17px;
    font-weight:550;
}
#main-container .main-box .box .inside-box .first-block .block1 .innerblock3 img:nth-child(1){
    margin-left:0;
}
#main-container .main-box .box .inside-box .first-block .block1 .innerblock4{
    display: flex;
    justify-content: flex-start;
    align-items: space-between;
    width:100%;
    margin-top:17px;
}
#main-container .main-box .box .inside-box .first-block .block1 .innerblock4 span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:15px;
    padding:5px;
    border:1px solid var(--normalorange);
    border-radius: 50%;
    margin:0 10px;
}
#main-container .main-box .box .inside-box .first-block .block1 .innerblock4 span:nth-child(1){
    margin-left:0;
}
#main-container .main-box .box .inside-box .first-block .block2{
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: flex-start;
    padding:15px 15px 0 15px;
    background-color:var(--normalwhite);
    flex-grow:1;
    border-radius:5px;
    width:80%;
}
#main-container .main-box .box .inside-box .first-block .block2 .innerblock{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;
    width:100%;
}
#main-container .main-box .box .inside-box .first-block .block2 .innerblock .first-line{
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
}
#main-container .main-box .box .inside-box .first-block .block2 .innerblock .social{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    font-size:17px;
    width:30%;
}
#main-container .main-box .box .inside-box .first-block .block2 .innerblock #wishlist{
    font-weight:500;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    margin-right:10px;
}
#main-container .main-box .box .inside-box .first-block .block2 .innerblock #wishlist:hover,
#main-container .main-box .box .inside-box .first-block .block2 .innerblock #likes:hover{
    color:var(--normalorange);
}
#main-container .main-box .box .inside-box .first-block .block2 .innerblock #likes{
    font-weight:500;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
}
#main-container .main-box .box .inside-box .first-block .block2 .innerblock .title{
    margin:0 0 15px 0;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
    font-weight:550;
    width:65%;
    margin-bottom:10px;
}
#main-container .main-box .box .inside-box .first-block .block2 .innerblock .title span:first-child{
    font-size:20px;
    font-weight:bold;
}
#main-container .main-box .box .inside-box .first-block .block2 .innerblock .title span:nth-child(2){
    font-size:16px;
    font-weight:bold;
}
#main-container .main-box .box .inside-box .first-block .block2 .innerblock .title span:last-child{
    font-size:16px;
    font-weight:normal;
    letter-spacing:0.5px;
}
#main-container .main-box .box .inside-box .first-block .block2 .innerblock .second-line{
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
}
#main-container .main-box .box .inside-box .first-block .block2 .innerblock .second-line .price{
    display:flex;
    justify-content:center;
    align-items:flex-end;
    margin:12px 0;
    font-size:16px;
    color:#ACADA8;
}
#main-container .main-box .box .inside-box .first-block .block2 .innerblock .second-line .percent{
    margin-left:10px;
    padding:2px 10px;
    background-color:var(--lightgrey);
    opacity:0.9;
    font-weight:550;
    border-radius:2px;
}
#main-container .main-box .box .inside-box .first-block .block2 .innerblock .social-2{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
}
#main-container .main-box .box .inside-box .first-block .block2 .innerblock #wishlist-no,
#main-container .main-box .box .inside-box .first-block .block2 .innerblock #likes-no{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:2px 10px;
    border-radius:2px;
    margin:5px;
    background-color:var(--lightgrey);
    opacity:0.9;
    font-weight:550;
    color:#ACADA8;
}
#main-container .main-box .box .inside-box .first-block .block2 .innerblock button{
    width:100%;
    height:50px;
    margin-top:10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius:var(--lg-btn-b-radius);
    font-size:var(--lg-btn-f-size);
    font-weight:var(--lg-btn-f-weight);
    color:var(--lg-btn-color);
    background-color:var(--lg-btn-bg-color);
    border:var(--lg-btn-border);
    box-shadow:var(--lg-btn-shadow);
}
.fa-star {
    font-size:14px;
    color:var(--normalwhite);
    background-color:var(--normalorange);
    border-radius:100px;
    padding:2.5px;
    position:relative;
}



/*
#main-container .main-box .box .inside-box .body-row .cmt-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:var(--normalwhite);
    width:22%;
    padding:3px 15px;
    height:30px;
    position:absolute;
    bottom:-19px;
    left:0;
}
*/
#main-container .main-box .box .inside-box .body-row #comment-block{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width:75%;
    background-color:var(--normalwhite);
    padding:15px;
    padding-top:0;
}
#main-container .main-box .box .inside-box .body-row #comment-block #all-comment{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width:100%;
    background-color:var(--normalwhite);
}
#main-container .main-box .box .inside-box .body-row #comment-block #all-comment .body{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;
    margin:5px 0;
    width:95%;
    background-color:var(--normalwhite);
}
#main-container .main-box .box .inside-box .body-row #comment-block #all-comment .body .parent{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-end;
    width:auto;
}
#main-container .main-box .box .inside-box .body-row #comment-block #all-comment .body .parent .content{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding: 5px 10px 5px 10px;
    width:auto;
    background-color:var(--lightgrey);
    border-radius:0 5px 5px 0;
}
#main-container .main-box .box .inside-box .body-row #comment-block #all-comment .body .parent .content .top{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding:0 5px;
    margin-bottom:0;
    width:100%;
    background-color:var(--lightgrey);
}
/*#main-container .main-box .box .inside-box .body-row #comment-block #all-comment .body .parent .content .top .place-2{
    width: 20%;
}
#main-container .main-box .box .inside-box .body-row #comment-block #all-comment .body .parent .content .top .div1{
    width: 80%;
} */
#main-container .main-box .box .inside-box .body-row #comment-block #all-comment .body .parent .content .btn,
#main-container .main-box .box .inside-box .body-row #comment-block #all-comment .invincible-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top:0;
    width:100%;
    background-color:var(--lightgrey);
}
#main-container .main-box .box .inside-box .body-row #comment-block #all-comment .body .parent .content .btn button,
#main-container .main-box .box .inside-box .body-row #comment-block #all-comment .invincible-btn{
    border:1px solid #BBBCB6;
    border-radius:5px;
    background-color:var(--normalorange);
}
#main-container .main-box .box .inside-box .body-row #comment-block #all-comment .body .children{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;
    padding-left:10px;
}
#pagination{
    width:100%;
    margin:10px 0;
}
#pagination nav{
    width:auto;
}
#pagination nav ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding:0;
    margin:0;
    width:auto;
}
#pagination nav ul .previous-page-link{
    background-color:var(--lightblue);
    padding:3px;
    border-radius:5px;
    margin:5px;
    color:white;
}
#pagination nav ul .next-page-link{
    background-color:#00ffff;
    padding:3px;
    border-radius:5px;
    margin:5px;
    color:white;
}
#pagination nav ul .page-num-link{
    background-color:var(--lightgrey);
    text-align:center;
    width:17px;
    height:17px;
    border-radius:50px;
    margin:2px;
}
#pagination nav ul .previous-page-link span,
#pagination nav ul .previous-page-link a,
#pagination nav ul .next-page-link span,
#pagination nav ul .next-page-link a{
    color:white;
}




#main-container .main-box .box .inside-box .body-row #comment-block .make-comment{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width:100%;
    border:1px solid #ACADA8;
    border-top:3px solid #ACADA8;
    background-color:var(--lightgrey);
}
#main-container .main-box .box .inside-box .body-row #comment-block .make-comment .head{
    font-size:20px;
    font-weight:bold;
    margin-top:10px;
}
#main-container .main-box .box .inside-box .body-row #comment-block .make-comment form{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width:95%;
    padding-bottom:10px;
}
#main-container .main-box .box .inside-box .body-row #comment-block .make-comment form .block{
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: flex-start;
    margin:15px 0;
    width:100%;
}
#main-container .main-box .box .inside-box .body-row #comment-block .make-comment form .block .input{
    width:100%;
}
#main-container .main-box .box .inside-box .body-row #comment-block .make-comment form .block .label{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width:30%;
    font-size:16px;
    font-weight:550;
    margin-bottom:10px;
}
#main-container .main-box .box .inside-box .body-row #comment-block .make-comment form .block .form-control{
    width:50%;
    height:35px;
    font-size:16px;
    border-radius:5px;
    border:0.1px solid #CCCDC6;
    color:#746D69;
}
#main-container .main-box .box .inside-box .body-row #comment-block .make-comment form .block .form-text-control{
    width:97%;
    height:100px;
    min-height:100px;
    max-height:100px;
    border-radius:15px;
    border:1px solid #BBBCB6;
    font-size:17px;
    letter-spacing:1px;
    resize:none;
    outline:none;
    padding:5px 10px 5px 10px;
    overflow-y:none;
}
#main-container .main-box .box .inside-box .body-row #comment-block .make-comment form button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:3px 7px;
    border-radius:5px;
    border:none;
    color:var(--normalwhite);
    background-color:var(--lightblue);
    font-size:20px;
}



#main-container .main-box .box .inside-box .body-row #comment-block .make-comment2{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    float:left;
    border:1px solid #ACADA8;
    border-top:3px solid #ACADA8;
    margin-left:0;
}
#main-container .main-box .box .inside-box .body-row #comment-block .make-comment2 .head{
    font-size:15px;
    font-weight:bold;
}
#main-container .main-box .box .inside-box .body-row #comment-block .make-comment2 #comment-notification1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    padding:10px;
    font-weight:bold;
    display:none
}
#main-container .main-box .box .inside-box .body-row #comment-block .make-comment2 #comment-message1{
    padding:5px 5px;
    font-weight:bold;
}
#main-container .main-box .box .inside-box .body-row #comment-block .make-comment2 .form{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;
    width:auto;
    margin:20px;
}
#comment-notification1 .fa-info{
    padding:5px 10px;
    border-radius:100px;
    background-color:var(--normalwhite);
    margin-right:10px;
}
#main-container .main-box .box .inside-box .body-row #comment-block .make-comment2 .form .block{
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: flex-start;
    margin:5px 0;
    width:90%;
}
#main-container .main-box .box .inside-box .body-row #comment-block .make-comment2 .form .block .input{
    width:50%;
}
#main-container .main-box .box .inside-box .body-row #comment-block .make-comment2 .form .block .label{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:30%;
    font-size:12px;
    font-weight:550;
    margin-bottom:4px;
}
#main-container .main-box .box .inside-box .body-row #comment-block .make-comment2 .form .block .form-control{
    width:100%;
    height:18px;
    font-size:13px;
    border-radius:5px;
    border:0.1px solid #CCCDC6;
    color:#746D69;
}
#main-container .main-box .box .inside-box .body-row #comment-block .make-comment2 .form textarea{
    width:auto;
    height:60px;
    min-height:60px;
    max-height:60px;
    border-radius:15px;
    border:1px solid #BBBCB6;
    padding:10px;
    resize:none;
    outline:none;
    overflow-y:hidden;
}
#main-container .main-box .box .inside-box .body-row #comment-block .make-comment2 .form button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:1px 4px;
    border-radius:5px;
    border:none;
    color:var(--normalwhite);
    background-color:var(--lightblue);
    font-size:14px;
}
.close-form {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}

.close-form:hover,
.close-form:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}






#main-container .main-box .box .inside-box .last-block {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color:var(--lightgrey);
    margin-left:10px;
    width:22%;
}
#main-container .main-box .box .inside-box .last-block .box1{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;
    background-color:var(--normalwhite);
    width:100%;
    border-radius:5px;
}
#main-container .main-box .box .inside-box .last-block .box1 .door-delivery,
#main-container .main-box .box .inside-box .last-block .box1 .pick-up,
#main-container .main-box .box .inside-box .last-block .box1 .return-policy{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-items: flex-start;
    font-weight:550;
    font-size:16px;
    margin:0 10px;
}
#main-container .main-box .box .inside-box .last-block .box1 .door-delivery{
    margin-top:10px;
}
#main-container .main-box .box .inside-box .last-block .box1 .pick-up{
}
#main-container .main-box .box .inside-box .last-block .box1 .return-policy{
    margin-bottom:10px;
}
#main-container .main-box .box .inside-box .last-block .box1 .door-delivery i,
#main-container .main-box .box .inside-box .last-block .box1 .pick-up i,
#main-container .main-box .box .inside-box .last-block .box1 .return-policy i{
    margin-right:10px;
    font-size:20px;
    padding:10px;
    border:1px solid darkgrey;
    border-radius:5px;
}






#main-container .main-box .box .inside-box .last-block .box2{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin:10px 0;
    background-color:var(--normalwhite);
    width:100%;
    border-radius:5px;
}
#main-container .main-box .box .inside-box .last-block .box2 .only-box{
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: flex-start;
    width:100%;
    margin-left:10px;
    margin-bottom:10px;
}
#main-container .main-box .box .inside-box .last-block .box2 .only-box .head{
    text-align: left;
    font-weight:550;
    font-size:16px;
}
#main-container .main-box .box .inside-box .last-block .box2 .only-box .line2{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width:100%;
    font-weight:550;
    font-size:16px;
    padding-bottom:5px;
}
#main-container .main-box .box .inside-box .last-block .box2 .only-box .line2 .block1{
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
    padding:5px 0 5px 5px;
}
#main-container .main-box .box .inside-box .last-block .box2 .only-box .line2 .block1 img{
    height:90px;
    width:80px;
    border-radius:10px;
    object-fit:cover;
    padding:0;
    margin:0;
    margin-bottom:17px;
}
#main-container .main-box .box .inside-box .last-block .box2 .only-box .line2 .block1 button{
    width:80px;
    height:30px;
    border-radius:5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:14px;
    font-weight:bold;
    border:none;
    color:var(--md-btn-color);
    box-shadow:var(--md-btn-shadow);
}
.follow-a{
    background-color:  var(--lightblue);
}
.follow-b{
    background-color:var(--normalorange);
}
#main-container .main-box .box .inside-box .last-block .box2 .only-box .line2 .block2{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;
    padding:5px;
}
#main-container .main-box .box .inside-box .last-block .box2 .only-box .line3{
    margin-top:5px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;
    width:100%;
    font-weight:550;
    font-size:16px;
}
#main-container .main-box{
    margin:0 6% 0 6%;
}

















@media screen and (max-width:1300px){
}
/*-------------------------------------------------------*/

@media screen and (max-width:1200px){
}
/*-------------------------------------------------------*/

@media screen and (max-width:1100px){
}
/*-------------------------------------------------------*/

@media screen and (max-width:1050px){
}
/*-------------------------------------------------------*/

@media screen and (max-width:950px){
    #main-container .main-box .box .inside-box .first-block{
        flex-wrap:wrap;
        width:65%;
    }
    #main-container .main-box .box .inside-box .first-block .block1{
        width:100%;
    }
    #main-container .main-box .box .inside-box .first-block .block2{
        width:100%;
    }
    #main-container .main-box .box .inside-box .first-block .block2{
        margin-top:15px;
    }
    #main-container .main-box .box .inside-box .last-block {
        width:35%;
    }
    #main-container .main-box .box .inside-box .first-block .block1 .innerblock1,
    #main-container .main-box .box .inside-box .first-block .block1 .innerblock2,
    #main-container .main-box .box .inside-box .first-block .block1 .innerblock3,
    #main-container .main-box .box .inside-box .first-block .block1 .innerblock4{
        width:95%;
    }
}
/*-------------------------------------------------------*/

@media screen and (max-width:900px){
}
/*-------------------------------------------------------*/

@media screen and (max-width:850px){
}
/*-------------------------------------------------------*/

@media screen and (max-width:800px){
}
/*================================ipad================================*/

@media screen and (max-width:768px){
    #main-container .main-box .box .top {
        flex-wrap:wrap;
    }
    #main-container .main-box .box .inside-box .body-row .first-block{
        width:100%;
    }
    #main-container .main-box .box .inside-box .first-block .block1{
        width:100%;
        padding-left:0;
    }
    #main-container .main-box .box .inside-box .first-block .block2{
        width:100%;
    }
    #main-container .main-box .box .inside-box .last-block {
        width:100%;
        margin-left:0;
    }
    #main-container .main-box .box .inside-box .body-row #comment-block{
        width:94%;
    }
    #main-container .main-box .box .inside-box .body-row #comment-block .make-comment form .block .form-text-control{
        width:95%;
    }
}
/*-------------------------------------------------------*/

@media screen and (max-width:600px){
}
/*=============================surface duo============================*/

@media screen and (max-width:540px){
}
/*-------------------------------------------------------*/

@media screen and (max-width:500px){
    #main-container .main-box .box .inside-box{
        flex-wrap:wrap;
    }
    #main-container .main-box .box .inside-box .first-block{
        width:100%;
    }
    #main-container .main-box .box .inside-box .last-block{
        margin-left:0;
        margin-top:20px;
        width:100%;
    }
}
/*-------------------------------------------------------*/

@media screen and (max-width:450px){
}
/*==========================iphone 6/7/8 plus=========================*/

@media screen and (max-width:414px){
}
/*==============Galaxy s5, moto G4=360px, iphone 6/7/8/x==============*/

@media screen and (max-width:375px){
}
/*-------------------------------------------------------*/

@media screen and (max-width:350px){
}
/*==============================iphone 5==============================*/

@media screen and (max-width:320px){}
/*========================kpalasa, Galaxy fold========================*/

@media screen and (max-width:280px){
}
/*-------------------------------------------------------*/

@media screen and (max-width:230px){
}









